/* slider css */

/* glide */
.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slides {
  height: 100%;
  overflow: hidden;
  *zoom: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

.slide-item{
  height: 100%;
  float: left;
  clear: none;
}

.slider-arrow {
  position: absolute;
  display: block;
  margin-bottom: -20px;
  padding: 20px;
}

.slider-arrow--right {
  bottom: 50%;
  right: 30px;
}

.slider-arrow--left {
  bottom: 50%;
  left: 30px;
}

.slider-nav {
  position: absolute;
  bottom: 60px;
}

.slider-nav__item {
  width: 12px;
  height: 12px;
  float: left;
  clear: none;
  display: block;
  margin: 0 5px;
  background: #fff;
}

.slider-nav__item:hover {
  background: #ccc;
}

.slider-nav__item--current {
  background: #ccc;
}

/* unique slider css */
.slider-nav__item {
  border-radius:50%;
}
.slider-arrow--right, .slider-arrow--left {
  background-image: url('/assets/glide-arrows.png');
  background-repeat:no-repeat;
  width: 17px;
height: 28px;
display: block;
padding: 0;
}
.slider-arrow--right {
background-position: -17px 0;
}
.slider-arrow--left {

}

/* home page slider - start */
.slider1 .slide-item {
  height:100%;
  width:100%;
  background-position: center;
  background-size: cover;
}
.slider1 .item1 {
  background:url("/assets/dream1.jpg") no-repeat center;
}
.slider1 .item2 {
  background:url("/assets/dream2.jpg") no-repeat center;
}
.slider1 .item3 {
  background:url("/assets/dream3.jpg") no-repeat center;
}
.slider1 .item4 {
  background:url("/assets/dream4.jpg") no-repeat center;
}
.slider1 {
  color:#fff;
}
.slider1 .content {
  margin-top:37%;
  margin-bottom:20%;
}
.slider1 h2 {
  font-family:'lobster', sans-serif;
  font-size:5em;
  font-weight:200;
  margin-bottom: 1.2em;
  text-shadow: 0 .05em .05em #c25b1d !important;
}
.slider1 .note {
  max-height:5em;
  min-height:5em;
  max-width:5em;
  min-width:5em;
  display:inline !important;
}
/* home page slider - start */

/* resume page slider - highlights - start */
.slider2, .slider3 {
  background-color:#CEE4ED;
  border: 1px solid #B8E3F5;
  border-radius:5px;
  margin-bottom:2em;
}
.slider2 .content, .slider3 .content {
  margin-bottom:0%;
  margin-top:5%;
}
.slider2 .slider-arrow--right, .slider2 .slider-arrow--left,
.slider3 .slider-arrow--right, .slider3 .slider-arrow--left{
  background-image: url('/assets/glide-arrows-inverted.png');
}
.slider2 .slider-nav, .slider3 .slider-nav {
  display:none;
}
/* resume page slider - highlights - end */

