/* jeffry.in.css */
* {
	margin: 0;
	padding: 0;
	font-family:'raleway', sans-serif;
}
html, body { height: 100%; }
html {
	margin:0;
	padding:0;
}
body {
	background:#fcfcfc;
	font-family:"Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
	margin:0;
	margin-top:0;
	padding:0;
	color:#555;
	min-width:320px;
}
div {}
hr {}
img {}
a, a:hover, a:active {color:#555;}
h1, h2, h3, h4, h5, h6 {
		font-family:'raleway', sans-serif;
}
h1 {
	font-family:'lobster', sans-serif;
	font-size:5em;
}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
p {
	margin:.8em 0;
	line-height:1.5em;
}
abbr {}
b {}
blockquote {
	text-transform: uppercase;
	border-left:4px solid #ccc;
	font-size:1.5em;
	font-weight: 200;
	line-height:1.5em;
	padding-left:2em;
}
cite {}
dfn {}
del {}
em {}
i {}
strong {}
ins {}
small {}
q {}
sub {}
sup {}
dl, ol, ul {}
dl {}
dt {}
dd {}
ol {}
ol li {}
ul {}
ul li {}
form {}
fieldset {}
legend {}
label {}
input {}
textarea {}
select {}
optgroup {}
table {}
caption {}
tr {}
thead {}
th {}
tbody {}
td {}
tfoot {}
address {}
code {}
samp {}
pre {}
kbd {}
var {}

section {
	padding:3em 0;
}
section:first-of-type {
	padding-top:0;
}
section:last-of-type {
	margin-bottom:1em;
}
body h1.ui.header {
	font-size:5em;
	font-weight:200;
}
.masthead.segment h1.ui.header {
	margin-top:.2em;
}

/* effects css */
.transparent {
	background:transparent !important;
}
.dimmed {
	opacity:.2;
}
.transition1, .dimmed:hover, .dimmed:active, 
#footerWrap .transparent:hover, 
#footerWrap .transparent:hover i, 
#footerWrap .socialWrap i:hover {
	-o-transition:1s;
	-ms-transition:1s;
	-moz-transition:1s;
	-webkit-transition:1s;
	transition:1s;
}
.dimmed:hover, .dimmed:active {
	opacity:.5;
}
.centered {
	text-align:center;
}
.right {
	text-align:right;
}
.masthead {
	padding:40px 0 50px 0;
}
.no.underline {
	text-decoration: none;
}
.addthis_toolbox {
	display:inline-block;
}

/* stick pointer nav */
.peek {}
.stuck {
	position:fixed;
	top:35px;
}

/* footer */
.footer .circular {

}
.footer-mail a{
	text-decoration:none; 
}
.footer-mail i{
	font-size:1.5em !important;
	text-shadow:1px 1px 3px #555;
}
.email-me {
	font-size:2em !important;
	text-shadow:1px 1px 3px #555;
	padding-bottom:.5em;
	margin-left:-.1em;
	color:#fff;
}
#footerWrap .foot.note, #footerWrap .foot.note span {
	color:transparent;
	cursor: default;
	display:inline-block;
	height:1em;
	position:relative;
	text-align:center;
	text-shadow:0 0 0;
	top:30px;
	width:20%;
}
#footerWrap {
	padding: 1em 0 0;
}

#footerWrap, #footerWrap a, #footerWrap span {
	text-shadow:2px 1px 2px #000;
}
#footerWrap i  {
	color:#666;
	font-size:1.6em;
}
#footerWrap a i {
	font-size: .8em;
}
#footerWrap a {
	text-decoration:none;
}
#showSocial {
	border-radius:8em;
	-webkit-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
	display:inline-block;
}
.socialWrap {
	position:relative;
	top:2px;
}
.blackBg {
	background:#333;
}
#footerWrap .blackBg i.heart {
	color:#999;
}
#footerWrap .transparent:hover {
	background:#333 !important;
}
#footerWrap .transparent:hover i {
	color:#999;
}
#showSocial.blackBg .transparent {
	background:#4C4C4C !important;
}
.social.visible {
	background:#4C4C4C;
	text-align: left;
	width:160px;
}
.footer-mail i, .home .email-me {
	color:#fff;
}
#footerWrap .socialWrap i:hover {
	color:#999;
}
#footerWrap .ui.page.grid.footer-top {
	border-bottom:1px solid #151515;
	padding-top:10px;
	padding-bottom:10px;
}
.footer-bottom {
	border-top:1px solid #333;
}
.footer-bottom .centered, .footer-bottom .centered span {
	font-family:'lobster', sans-serif;
}

/* nav */
body #leftButton {
	z-index:9;
}
body #leftButton {

	top:35px;
	position:fixed;
}
body #leftButton, #footerWrap{
	background:#222;
}
body #leftButton:hover{
	background:#333;
}
body #menu h4 {
	font-family:'lobster', sans-serif;
	font-weight:normal;
	tex-shadow:0 0 0 #000;
	font-size:1em;
}
body #menu a.hide b {
	font-family:'raleway', sans-serif;
}

body #menu a  {
	color:#fff;
	font-weight:200;
	text-decoration: none;
	text-transform:uppercase;
	letter-spacing: .12em;

}
#topNav {
	z-index:99;
	padding-top:20px;
}
#topNav i {
	color:#fff;
}

/* logo */
img.ui.image.logo {
	display:inline;
	position:relative;
	border-radius:50%;
	border:1px dashed #fff;
	padding:4px;

}
img.ui.image.logo.one {
	top:-2px;
	left:8px;
}
img.ui.image.logo.two {
	float:right;
	top:-5px;
}

/* content - section specific css */
.main {
	padding-top:30px;
}
.content.block {
	padding:3em 0;
}
.contact .centered {
	font-size: 1.8em;
	font-weight:700;
	text-transform: uppercase;
}
h1.ui.header {
	font-size:2.8rem;
	font-weight:700;
}
img.centered {
	display:inline-block !important;
}
.like-this img.centered.circular.dimmed {
	border:8px solid #fff;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.date {
	font-family:'lobster', sans-serif;
}
.like-this img {
	height:100px;
	width:100px;
}
.summary {
	text-transform: uppercase;
	font-size:1.2em;
	font-weight:200;
}
.like-this .summary {
	border-bottom:1px solid rgba(0,0,0,.1);
	padding-bottom:.6em;
}
.like-this .center.aligned p + p {
	text-align:left !important;
}
.special {
	font-family:'lobster', sans-serif;
	font-size:3em;
	margin:.3em 0;
}
.introduction {
	font-size:1.5em;
	font-weight:200;
	margin:1em 0;
	text-transform:uppercase;
}
.with-cap:first-letter {
	font-size:3.2em;
	letter-spacing:-.02em;
}
.offsetted {
	display:inline;
	margin:0 auto;
}
.offsetted .column {
	text-align:left !important;
}
.centered.top.banner {
	width:120px;
	height:120px;
	background:none;
	background-repeat:no-repeat;
	border-radius:50%;
	border:8px solid #fff;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

/* home page css */
#home , #from-the-city{
	margin-top:-6px;
	padding-top:0;
}
body .space .segment{
	margin-top:3em !important;
	margin-bottom:3em !important;
}
.biege {
	background-color:#FCF9F0;
	border-bottom:1px solid #FCF2D4;
	padding-bottom:3em;
	padding-top:3em;
}
.lighter-biege {
	background-color:#FCE3C2;
	border-top: 1px solid #fff;
	border-bottom:1px solid #FCF2D4;
	padding-bottom:6em;
	padding-top:6em;
}
.last-section {
	padding-top:5em;
	padding-bottom:3em;
}
img[src="/assets/swingset.png"] {
	position:relative;
	margin-left:30px;
}

/* resume */
.resume .masthead {
	background-color:#CEE4ED;
	border-bottom:1px solid #B8E3F5;
}
.resume .centered.top.banner {
	background-image:url('../assets/resume.png');
}
.resume h1 {
	color:#fff;
	text-shadow:2px 1px 2px #0489B5;
}
.resume .footer-mail i, 
.resume .email-me, /* <-- global style mixin' */
.resume .resume-download, 
.resume .ui.list a.resume-download i {
	color:#F2F8FA;
}
.resume .resume-download {
	font-size:2em;
	text-decoration: none;
	text-shadow:1px 1px 3px #555;
}
.resume .resume-download i {
	text-decoration: none;
	text-shadow:1px 1px 3px #555;
}
#section4 .content {
	line-height:1.8em;
}
.resume .main {
	background-color:#F2F8FA;
}
.eductation h3 {
	font-weight:200;
	font-size:1em;
	text-transform:uppercase;
}
.eductation h4.ui.dividing.header {
	 margin:.2em 0;
}
.eductation p {
	font-size:1em;
	font-weight:200;
}

/* about page */
.about .masthead {
	background-color:#F7E779;
	border-bottom:1px solid #E0DD1B;
}
.about .centered.top.banner {
	background-image:url('../assets/beanie.png');
}
.about .footer-mail i, .about .email-me {
	color:#FAFAED;
}
.about .main {
	background-color:#FAFAED;
}
.about h1 {
	color:#fff;
	border-bottom:1px solid #E0DD1B;
	text-shadow:2px 1px 2px #BDA400;
}

/* post */
.normal.post.layout .masthead {
	background:#D66D58;
	border-bottom:1px solid #D16049;
}

.normal.post.layout h1 {
	color:#fff;
	text-shadow:2px 1px 2px #D16049;
}
.post.layout.content {
	padding-top:3em;
	min-height:410px;
}
.meta {
	font-family: 'lobster', sans-serif;
}
.mobile.only {
	display:none;
}
.max-width {
	margin-left:auto;
	margin-right:auto;
	text-align: center
}
.max-width p{
	max-width:700px;
	display:inline-block;
}
.bit.layout.content {
	padding-top:60px;
	min-height: 750px;
}

/* let's make this mobile experience dance */
@media only screen and (max-width : 1200px) {
}
@media only screen and (max-width : 992px) {
	.ui.vertical.menu {
		width:100%;
	}
	.stuck {position:relative;}
}
@media only screen and (max-width : 768px) {
	.slider1 h2 {
		font-size:2.5em;
	}
	.slider1 .note {
		max-height: 4em;
		min-height: 4em;
		max-width: 4em;
		min-width: 4em;
	}
	/* because the line-width was too long */
	.ui.stackable.page.grid.like-this>.row>.column {
		padding-left:5em !important;
		padding-right:5em !important;
	}
	.ui.vertical.menu {
		width:100%;
	}
	.stuck {position:relative;}
	
	.resume .resume-download {
		font-size:1em;
	}
	body .ui.grid.footer-mail .row:first-child>.column:first-child{
		padding-top:3em !important;
	}
	.footer .contact p.centered {
		font-size:1.2em;
	}
}
@media only screen and (max-width : 480px) {
	body section {
		padding:1em 0;
	}
	.slider1 {
		padding-top:55px;
	}
	.slider1 h2 {
		font-size:1.8em;
	}
	.slider1 .note {
		max-height: 2.8em;
		min-height: 2.8em;
		max-width: 2.8em;
		min-width: 2.8em;
	}
	.slider1 .content {
		margin-top:30%;
		margin-bottom:30%;
	}
	.slider-nav {display:none;visibility:hidden;}
	.ui.vertical.menu {
		width:100%;
	}
	.stuck {position:relative;}

	.resume .resume-download {
		font-size:1em;
	}
	.masthead {
		padding-top:120px;
	}
	body .ui.grid.footer-mail .row:first-child>.column:first-child{
		padding-top:3em !important;
	}
	.footer .contact p.centered {
		font-size:1.2em;
	}
	#leftButton.computer.only {
		display:none;
	}
	.mobile.only {
		display:block;
	}
	.bit.layout.content {
	padding-top:90px;
	}
	#footerWrap .ui.page.grid.footer-top {
		padding-bottom:20px;
	}
	body h1.ui.header {
	font-size:3em;
	font-weight:200;
}
.masthead.segment h1.ui.header {
	margin-top:.5em;
}
}
@media only screen and (max-width : 320px) {
	body section {
		padding:1em 0;
	}
	.slider1 {
		padding-top:55px;
	}
	.slider1 h2 {
		font-size:1.8em;
	}
	.slider1 .note {
		max-height: 2.8em;
		min-height: 2.8em;
		max-width: 2.8em;
		min-width: 2.8em;
	}
	.slider-nav {display:none;visibility:hidden;}
	.slider1 .content {
		margin-top:30%;
		margin-bottom:30%;
	}
	.ui.vertical.menu {
		width:100%;
	}
	.stuck {position:relative;}
	.resume .resume-download {
		font-size:1em;
	}
	.masthead {
		padding-top:120px;
	}
	body .ui.grid.footer-mail .row:first-child>.column:first-child{
		padding-top:3em !important;
	}
	.footer .contact p.centered {
		font-size:1.2em;
	}
	#leftButton.computer.only {
		display:none;
	}
	.mobile.only {
		display:block;
	}
	.bit.layout.content {
	padding-top:90px;
}
#footerWrap .ui.page.grid.footer-top {
		padding-bottom:20px;
	}
		body h1.ui.header {
	font-size:3em;
	font-weight:200;
}
.masthead.segment h1.ui.header {
	margin-top:.5em;
}
	
}



















