/* jeffry.in.css */

/* It starts with a little Vanilla */

/***************************************************************************************
* BODY ELEMENTS
***************************************************************************************/

* {
	margin: 0;
	padding: 0;
	font-family:'raleway', sans-serif;
}

html, body { height: 100%; }
html {
	margin:0;
	padding:0;
}
body {
	background:#fcfcfc;
	font-family:"Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif/*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
	margin:0;
	margin-top:0;
	padding:0;
	color:#555;
	min-width:320px;
}

div {}
hr {}
img {}
a {}

/***************************************************************************************
* HEADINGS
***************************************************************************************/

/* All Headings */
h1, h2, h3, h4, h5, h6 {
		font-family:'raleway', sans-serif;
}

/* Individual Headings */
h1 {
	text-transform:uppercase;
}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

/***************************************************************************************
* PARAGRAPHS
***************************************************************************************/

/* First Paragraph */
p {
	margin:.8em 0;
	line-height:1.5em;
}

/* Seccond Paragraph */
abbr {}
b {}

/* Blockquote */
blockquote {}
cite {}

/* Third Paragraph */
dfn {}
del {}
em {}
i {}
strong {}
ins {}
small {}

/* Quote */
q {}

/* Fourth Paragraph */
sub {}
sup {}

/***************************************************************************************
* LISTS
***************************************************************************************/

/* All Lists */
dl, ol, ul {}

/* Definition Lists */
dl {}
dt {}
dd {}

/* Ordered Lists */
ol {}
ol li {}

/* Unordered Lists */
ul {}
ul li {}

/***************************************************************************************
* FORMS
***************************************************************************************/

form {}
fieldset {}
legend {}
label {}

/* Inputs */
input {}
textarea {}

/* Other */
select {}
optgroup {}

/***************************************************************************************
* TABLES
***************************************************************************************/

table {}
caption {}
tr {}

/* Head */
thead {}
th {}

/* Body */
tbody {}
td {}

/* Foot */
tfoot {}

/***************************************************************************************
* OTHER
***************************************************************************************/

address {}
code {}
samp {}
pre {}

kbd {}
var {}
section {
	padding:3em 0;
}
section:first-of-type {
	padding-top:0;
}
section:last-of-type {
	margin-bottom:1em;
}
h1.ui.header {
	font-size:2.8rem;
	font-weight:700;
}
.transparent {
	background:transparent !important;
}
.centered {
	text-align:center;
}
.contact .centered {
	font-size: 1.8em;
	font-weight:700;
	text-transform: uppercase;
}

.right {
	text-align:right;
}
.masthead {
	padding:90px 0 50px 0;
	margin-bottom:30px;
}
body #leftButton {

	top:35px;
	position:fixed;
}
body #leftButton, #footerWrap{
	background:#222;
}
body #leftButton:hover{
	background:#333;
}
.footer .circular {

}
.footer-mail a{
	text-decoration:none; 
}
.footer-mail i{
	color:#fff !important;
	font-size:1.5em !important;
	text-shadow:1px 1px 3px #555;
}
.email-me {
	color:#fff;
	font-size:2em !important;
	text-shadow:1px 1px 3px #555;
	padding-bottom:.5em;
	margin-left:-.1em;
}

#footerWrap {
	padding: 3em 0;
}

#footerWrap, #footerWrap a, #footerWrap span {
	text-shadow:2px 1px 2px #000;
}
#footerWrap i  {
	color:#666;
	font-size:1.6em;
}
#footerWrap a {
	text-decoration:none;
}
#showSocial {
	border-radius:8em;
	-webkit-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
	box-shadow:         inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
	display:inline-block;
}
.socialWrap {
	position:relative;
	top:5px;
}
.blackBg {
	background:#333;
}
#footerWrap .blackBg i.heart {
	color:#999;
}
#footerWrap .transparent:hover {
	-o-transition:1s;
	-ms-transition:1s;
	-moz-transition:1s;
	-webkit-transition:1s;
	transition:1s;
	background:#333 !important;
}
#footerWrap .transparent:hover i {
	-o-transition:1s;
	-ms-transition:1s;
	-moz-transition:1s;
	-webkit-transition:1s;
	transition:1s;
	color:#999;
}
#showSocial.blackBg .transparent {
	background:#4C4C4C !important;
}
.social.visible {
	background:#4C4C4C;
	text-align: left;
	width:160px;

}
#footerWrap .socialWrap i:hover {
	-o-transition:1s;
	-ms-transition:1s;
	-moz-transition:1s;
	-webkit-transition:1s;
	transition:1s;
	color:#999;
}
.footer-top {
	border-bottom:1px solid #151515;
}
.footer-bottom {
	border-top:1px solid #333;
}
.peek {

}
.stuck {
	position:fixed;
	top:35px;
}
.introduction {
	font-size:1.5em;
	font-weight:200;
	margin:1em 0;
	text-transform:uppercase;
}
.introduction:first-letter {
	font-size:3.2em;
	letter-spacing:-.1em;
}
.offsetted {
	display:inline;
	margin:0 auto;
}
.offsetted .column {
	text-align:left !important;
}
.about .masthead {
	background-color:#F7E779;
	border-bottom:1px solid #E0DD1B;
}

.about h1 {
	color:#fff;
	text-shadow:2px 1px 2px #BDA400;

}
.resume .masthead {
	background-color:#57CBF2;
	border-bottom:1px solid #36C7F7;
}

.resume h1 {
	color:#fff;
	text-shadow:2px 1px 2px #0489B5;

}
.eductation h3 {
	font-weight:200;
	font-size:1em;
	text-transform:uppercase;
}
.eductation h4.ui.dividing.header {
	 margin:.2em 0;
}
.eductation p {
	font-size:1em;
	font-weight:200;
}

















