.social-svg {
  fill: $text-color;
}
.social-share {
  margin: 0;
  overflow: hidden;
  padding: $spacing-unit 0 ($spacing-unit * 2);
  text-align: center;
  &--unique {
    &:before {
      content: 'Share this post';
      display: block;
      font-family: $font-family-serif;
      font-size: $font-size-default * 1.2;
      font-style: italic;
      font-weight: bold;
      margin-bottom: $spacing-unit;
    }
    .social-share__link {
      display: inline-block;
    }
  }
  &__link {
  	display: block;
  	height: $svg-unit;
  	overflow: hidden;
  	position: relative;
  	width: $svg-unit;
  }
  &__text {
  	position: absolute;
  	right: -100px;
  }
}