<div class="picture{% if include.pictureClass %} {{ include.pictureClass }}{% endif %}">
	<picture>
 		{% if include.imageLG %}
 			<source srcset="{{ include.imageLG }}" media="(min-width: 1000px)">
 		{% endif %}
 		{% if include.imageMD %}
 			<source srcset="{{ include.imageMD }}" media="(min-width: 800px)">
 		{% endif %}
 		{% if include.imageSM %}
 		<img src="{{ include.imageSM }}" alt="{% if include.title %}{{ include.title }}{% endif %}">
 		{% else %}
 			<img src="{{ include.imageSM }}" alt="{% if include.title %}{{ include.title }}{% endif %}">
 		{% endif %}
	</picture>
</div>