---
layout: default
title: About
permalink: about/
unique: about
metadescription: This page contains infromation about Jeffry Wainwright. He's a User Interface Developer and Designer. This page discusses his current work, goals and gives a brief summation.
styles: <link href="/old-jeffry-in/css/jeffry.in.slider.css" rel='stylesheet' type='text/css' />
scripts:   <script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.4/waypoints.min.js"></script><script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.4/waypoints-sticky.min.js"></script><script src="//cdn.jsdelivr.net/jquery.glide/1.0.6/jquery.glide.min.js"></script>
---

{% include masthead.html %}
<div id="about" class="main">

	<div id="sections" class="ui two column page grid stackable">
		<!-- nav using waypoints -->
		<div class="four wide column">
			<div class="peek item">
				<div class="ui vertical pointing menu">
					<a href="#section1" class="active item">Builder</a>
					<!--<a href="#section2" class="item">Aspirations</a>-->
					<a href="#section3" class="item">History</a>
				</div>
			</div>
		</div>

		<div class="twelve wide column">
			<section id="section1">
				<p class="introduction with-cap">
				Professionaly, I build User Interfaces (UI's) and Front End Logic for web pages and applications. I generally like to build things and learn about how things work. I enjoy design, cats, cereal and I do art projects when I have time. Also, I'm runner, rock climber and adventurer.
				</p>
				<h2 class="ui dividing header"><i class="wrench icon"></i>Building things</h2>
				<p>
				When I was young I would watch my dad maticulously build things with his hands. The process of turning a log of wood into a table was fasinating to me.
				</p>
				<p>
				I am a life long creator of <em>things</em>. I've been painting for most of my life which led me to learning to air brush, sculpt, make furniture and, then, design for print. It wasn't until I took a web design class in 2006-7 that I started to code. I was immediately hooked. At the time I was finishing up a degree in Design and Marketing (Visual Communications) but the majority of my efforts went to building websites.
				</p>
				<div class="ui divider">
				</div>
				{% include shelved.html %}
				<div class="ui divider">
				</div>
				<p>
				My desire to learn landing me my first jobs in Web Design. I started building boutique websites using dreamweaver and wordpress for small clients around Chicago. After doing this for a year, I moved to DC and was given the opportunity to build a new front end framework for <a href="//nasdaq.com">NASDAQ.com</a>. Since then I have been working a lot of high traffic site focusing on Design, User Interface and Front End Development.
				</p>
			</section>

			<section id="section3">
				<h2 class="ui dividing header"><i class="suitcase icon"></i> History</h2>
				<p>
				Born in Rapid City, South Dakota, I spent a lot of my youth in the Black Hills not imagining much beyond <em>the Black Hills</em>. My parents (mom) went into Diplomacy when I was 7 and my small town roots were taken international. Travelling and living abroad made me very aware of the differences between cultures and the similarities of people which I feel plays a big part in my work as a Designer and Developer.
				</p>
				<p>
				I moved to Barbados when I was 8 and discovered table tennis. I spent to next years training to become one of the top young <em>Bajun</em> players along with also playing tennis competitively, body boarding and building forts.
				</p>
				<p>
				At 13, I was living in Prague. I enjoyed the culture and the old parts of the town. We travelled a lot as a family and I got to see a lot of Central Europe.
				</p>
				<p>
				After moving back to the United States for my Junior and Senior Year of High School, I went to college at the University of Wisconsin at Madison. While there, I spent my holidays in Albania, Bosnia and Italy because of my parents work.
				</p>
				<p>
				Learning a lot in my travels and diverse culture made me interested in communicating as an individual but also working within a team. I find a key ingredient in my work is finding where my individuality is successful and also where I can be an asset to my team.
				</p>
			</section>

		</div>
		</div>
	</div>

</div>