---
layout: default
title: Resume
permalink: resume/
unique: resume
metadescription: This is the resume page of Jeffry Wainwright. He's a User Interface Developer and Designer living in the Los Angeles Area.
styles: <link href="/css/jeffry.in.slider.css" rel='stylesheet' type='text/css' />
scripts:   <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.4/waypoints.min.js"></script><script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.4/waypoints-sticky.min.js"></script><script src="http://cdn.jsdelivr.net/jquery.glide/1.0.6/jquery.glide.min.js"></script>
---

{% include masthead.html %}
<div id="resume" class="main">

	<div id="sections" class="ui two column doubling page grid stackable">
		<!-- nav using waypoints -->
		<div class="four wide column">
			<div class="peek item">
				<div class="ui vertical pointing menu">
					<a href="#section1" class="item">Education</a>
					<a href="#section2" class="item">Career</a>
					<a href="#section3" class="item">Technical</a>
					<a href="#section4" class="item">Reference</a>
				</div>
			</div>
		</div>

		<div class="twelve wide column">
			<section id="section1">
				<p class="introduction with-cap">
					As a front end developer and designer, I build rich User Inferfaces (UIs). With 8+ years in design and web development, I take products from sketch protoypes to working websites and applications. 
				</p>
			
			<div class="ui segment eductation">
				<h2 class="ui dividing header"><i class="asterisk icon"></i> Education</h2>
				<div class="ui two column doubling relaxed grid stackable">
					<div class="column">
						<div class="ui list">
							<div class="item">
								<i class="circular ok certificate icon"></i>
								<div class="content">
									<h3>BFA - Visual Communications</h3>
									<h4 class="ui dividing header">The Illinois Institute of Art</h4>
									<p>Chicago, IL 2009</p>
								</div>
							</div>
							<div class="item">
								<i class="circular ok certificate icon"></i>
								<div class="content">
									<h3>BS - Fine Arts</h3>
									<h4 class="ui dividing header">The University of Wisconsin</h4>
									<p>Madison, WI 2003</p>
								</div>
							</div>
						</div>
					</div>
					<div class="column">
						<div class="ui list">
							<div class="item">
								<i class="circular book icon"></i>
								<div class="content">
									<h3>Continued Learning</h3>
									<h4 class="ui dividing header">American University</h4>
									<p>Washington, DC 2001</p>
								</div>
							</div>
							<div class="item">			
								<i class="circular ok circle icon"></i>
								<div class="content">
									<h3>Pre College Program</h3>
									<h4 class="ui dividing header">School of the Art Institute of Chicago</h4>
									<p>Chicago, IL 1999</p>
								</div>
							</div>
						</div>	
					</div>
				</div>			
			</div>
			</section>
			
			<section id="section2">
				<br>
				<h2 class="ui dividing header"><i class="briefcase icon"></i> EXPERIENCE</h2>
				
				<h3>UI Developer</h3>
				<h4>Outlook Amusements | Burbank, CA, 2012 - 2014</h4>
				<div class="ui list">
					<div class="item">
						<i class="add icon"></i> 
						<div class="content"><strong>Built responsive front end framework for New Conversion Site(s)</strong> for Sitecore with Visual Studio to offer our customers more usability and better performance using HTML, Bootstrap Framework, .NET Web Forms, JS, CSS and SCSS (light .cs exposure). 
						</div>
					</div>				
					<div class="item">
						<i class="add icon"></i> 
						<div class="content"><strong>Maintained/updated Model View Controller (MVC) Adaptive Site</strong> using Visual Studio (HTML, CSS, JS and .NET) offering customers a better experience along with giving analytics teams more ways to track data
						</div>
					</div>				
					<div class="item">
						<i class="add icon"></i> 
						<div class="content">Worked with a team developing office web apps for Customer Support using .NET and Visual Studio (HTML, .NET and JS) creating more ways to track data, monitor money flows and gain opportunities to optimize our service
						</div>
					</div>
					<div class="item">
						<i class="add icon"></i> 
						<div class="content">Developed responsive email templating framework using HTML, CSS, JADE and SASS <strong>increasing user clicks by over 50%</strong>
						</div>
					</div>
					<div class="item">
						<i class="add icon"></i> 
						<div class="content">Managed, tested and executed email campaigns and newsletters for 2 million+ customers using StrongMail and ReturnPath and a deep knowledge in email service provider (ESP) nuances and best practices for high inbox
						</div>
					</div>				
					<div class="item">
						<i class="asterisk icon"></i> 
						<div class="content"><strong>While working with Outlook, through email/web campaigns along with webpage and application development our company has grown over 10% year over year</strong>
						</div>
					</div>
				</div>				
				<div class="ui divider"></div>				
				<h3>Front-end Developer</h3>
				<h4>American Bar Assoc, Grad School USA | Washington D.C., 2012</h4>					
				<div class="ui list">
					<div class="item">
						<i class="add icon"></i> 
						<div class="content"> Font-end developer/content management, I work on transfering both companies to a new Content Management Systems (CMS) (Sitecore/CQ5)
						</div>
					</div>
				</div>

				
				<div class="ui divider"></div>
				<h3>Front-end Developer</h3>
				<h4>NASDAQ.com | Rockville, MD, 2011 - 2012</h4>				
				<div class="ui list">
					<div class="item">
						<i class="add icon"></i> 
						<div class="content">Consolidate code, files processes associated with faster page load speed, quicker editing easier transfer of dynamic content to the page using Notepad++ VSS for .NET
						</div>
					</div>
					<div class="item">
						<i class="add icon"></i> 
						<div class="content"> Plan UI/UX on new updated sections of the site, developing optimizing our style guide in unison using Photoshop, Notepad++ VSS in languages XHTML, HTML 5, CSS, CSS3, JQuery, JavaScript, C# for .NET
						</div>
					</div>
					<div class="item">
						<i class="add icon"></i> 
						<div class="content"> Develop .NET master pages (.master), controls (.ascx), include files (.inc) new navigation catering to faster production time, SEO, site-wide optimization using Photoshop, Notepad++ VSS in languages XHTML, HTML 5, CSS,CSS3, JQuery, JavaScript, C#
						</div>
					</div>
					<div class="item">
						<i class="asterisk icon"></i> 
						<div class="content"> Results thus far: +300K daily unique users, +1k global ranking, x4 increased production time
						</div>
					</div>
				</div>	
				{% include career.highlights.html %}			
			</section>
			<section id="section3" class="ui segment">
				<h2 class="ui dividing header"><i class="code icon"></i> Technical Summary</h2>
				<h3>Programming:</h3>
				<div class="ui divided selection list">
					<div class="item">
						<i class="triangle right icon"></i>
						<div class="content">
							<div class="header">Html</div> (Jade/Haml)
						</div> 
					</div>
					<div class="item">
						<i class="triangle right icon"></i>
						<div class="content">
							<div class="header">Css</div> (Less/Sass/Vanilla)
						</div> 
					</div>
					<div class="item">
						<i class="triangle right icon"></i>
						<div class="content">
							<div class="header">Js</div> (jQuery/Angular)
						</div> 
					</div>
					<div class="item">
						<i class="triangle right icon"></i>
						<div class="content">
							<div class="header">.NET</div> (Webforms/MVC)
						</div> 
					</div>
					<div class="item">
						<i class="triangle right icon"></i>
						<div class="content">
							<div class="header">PHP</div> (CMS/minor editing)
						</div> 
					</div>
					<div class="item">
						<i class="triangle right icon"></i>
						<div class="content">
							<div class="header">Git</div>(Jekyll/Ruby/Projects)
						</div> 
					</div>
					<div class="item">
						<i class="triangle right icon"></i>
						<div class="content">
							<div class="header">Bootstrap/Semantic</div>front-end frameworks
						</div> 
					</div>
					<div class="item">
						<i class="triangle right icon"></i>
						<div class="content">
							<div class="header">CMSs</div>CQ5, Sitecore, WordPress
						</div> 
					</div>
				</div>			
				<h3>Programs:</h3>
				<div class="ui two column doubling relaxed grid stackable">
					<div class="column">
						<div class="ui divided selection list">
							<div class="item">
								<i class="triangle right icon"></i>
								<div class="content">
									Sublime Text
								</div> 
							</div>
							<div class="item">
								<i class="triangle right icon"></i>
								<div class="content">
									Illustrator
								</div> 
							</div>
							<div class="item">
								<i class="triangle right icon"></i>
								<div class="content">
									Indesign
								</div> 
							</div>
							<div class="item">
								<i class="triangle right icon"></i>
								<div class="content">
									Photoshop
								</div> 
							</div>

							<div class="item">
								<i class="triangle right icon"></i>
								<div class="content">
									Visual Studio
								</div> 
							</div>
							<div class="item">
								<i class="triangle right icon"></i>
								<div class="content">
									Visual Source Safe
								</div> 
							</div>
							<div class="item">
								<i class="triangle right icon"></i>
								<div class="content">
									Terminal
								</div> 
							</div>
						</div>
					</div>
					<div class="column">
						<div class="ui divided selection list">
							<div class="item">
								<i class="triangle right icon"></i>
								<div class="content">
									Basecamp
								</div> 
							</div>
							<div class="item">
								<i class="triangle right icon"></i>
								<div class="content">
									Unfuddle
								</div> 
							</div>
							<div class="item">
								<i class="triangle right icon"></i>
								<div class="content">
									Strongmail
								</div> 
							</div>
							<div class="item">
								<i class="triangle right icon"></i>
								<div class="content">
									Returnpath
								</div> 
							</div>
							<div class="item">
								<i class="triangle right icon"></i>
								<div class="content">
									LiveBall
								</div> 
							</div>
							<div class="item">
								<i class="triangle right icon"></i>
								<div class="content">
									Google Tag Manager
								</div> 
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="section4">				
				<h2 class="ui dividing header"><i class="user icon"></i> Reference</h2>
				{% include reference.snippets.html %}					
				<div class="ui list">
					<div class="item">
						<i class="add icon"></i> 
						<div class="content">  Client list with specific samples will be provided upon request
						</div>
					</div>
					<div class="item">
						<i class="add icon"></i> 
						<div class="content"> More references will be provided upon Request
						</div>
					</div>
					<div class="ui divider"></div>						
					<h2 class="ui dividing header">
						<a href="/assets/Resume.pdf" class="no underline">
							<i class="download icon"></i>Resume</a>
						</h2>
						<h2 class="ui dividing header">
							<a href="mailto:jjwainwright2@gmail.com?Subject=From%20your%20webpage" target="_top" class="no underline"><i class="mail outline icon layout"></i>Email</a> or <a href="http://jeffry.in/contact/" class="no underline">Contact me</a>
						</h2>
						<br>					
					</section>
				</div>
			</div>
		</div>
	</div>