<div class="disqus">
	<div class="disqus__wrapper">
		<div id="disqus_thread"></div>
		<script>
    	(function() {
            var d = document, s = d.createElement('script');

            s.src = '//jeffryin2.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
	</div>
</div>