{% if author.author_twitter_username %}
  <a class="social-item-inline social-item-inline--twitter" href="//twitter.com/@{{ author.author_twitter_username }}">
  	<svg name="twitter-svg" viewBox="0 0 512 512">
      <use class="social-svg" xlink:href="#twitter-svg" x="0" y="0" />
    </svg>
  </a>
{% endif %}
{% if author.author_instagram_username %}
  <a class="social-item-inline social-item-inline--instagram" href="//instagram.com/{{ author.author_instagram_username }}">
  	<svg name="instagram-svg" viewBox="0 0 512 512">
      <use class="social-svg" xlink:href="#instagram-svg" x="0" y="0" />
    </svg>
  </a>
{% endif %}
{% if author.author_codepen_username %}
  <a class="social-item-inline social-item-inline--codepen" href="//codepen.io/{{ author.author_codepen_username }}">
		<svg name="codepen-svg" viewBox="0 0 512 512">
      <use class="social-svg" xlink:href="#codepen-svg" x="0" y="0" />
    </svg>
  </a>
{% endif %}
{% if author.author_github_username %}
  <a class="social-item-inline social-item-inline--github" href="//github.com/{{ author.author_github_username }}">
  	<svg name="github-svg" viewBox="0 0 512 512">
       <use class="social-svg" xlink:href="#github-svg" x="0" y="0" />
    </svg>
  </a>
{% endif %}
{% if author.author_tumblr %}
  <a class="social-item-inline social-item-inline--tumblr" href="{{ author.author_tumblr }}">
  	<svg name="tumblr-svg" viewBox="0 0 512 512">
       <use class="social-svg" xlink:href="#tumblr-svg" x="0" y="0" />
    </svg>
  </a>
{% endif %}