<div class="social-share social-share--unique">
  {% if include.email %}
    <a class="social-share__link" href="mailto:?body={{site.url}}{{ include.shareURL }}&subject={{ include.shareTitle }}" target="_blank">
       <svg name="mail-svg" viewbox="0 0 512 512">
        <use class="social-svg" xlink:href="#mail-svg" x="0" y="0" />
      </svg>
    </a>
  {% endif %}
  {% if include.twitter %}
    <a class="social-share__link" href="//twitter.com/share?url={{site.url}}{{ include.shareURL }}&text={{ include.shareTitle }}&via=@{{ site.twitter_username }}{{ if include.shareHashTag }}&hashtags={{ include.shareHashTag }}{{ endif }}" target="_blank">
      <svg name="twitter-svg" viewBox="0 0 512 512">
        <use class="social-svg" xlink:href="#twitter-svg" x="0" y="0" />
      </svg>
    </a>
  {% endif %}
  {% if include.tumblr %}
    <a class="social-share__link" href="//www.tumblr.com/widgets/share/tool?canonicalUrl={{site.url}}{{ include.shareURL }}&title={{ include.shareTitle }}{{ endif }}" target="_blank">
      <svg name="tumblr-svg" viewBox="0 0 512 512">
        <use class="social-svg" xlink:href="#tumblr-svg" x="0" y="0" />
      </svg>
    </a>
  {% endif %}
  {% if include.facebook %}
    <a class="social-share__link" href="//www.facebook.com/sharer.php?u=http:{{site.url}}{{ include.shareURL }}">
      <svg name="facebook-svg" viewBox="0 0 512 512">
        <use class="social-svg" xlink:href="#facebook-svg" x="0" y="0" />
      </svg>
    </a>
  {% endif %}
  {% if include.link %}
    <a class="social-share__link" href="{{site.url}}{{ include.shareURL }}" target="_blank">
      <svg name="link-svg" viewBox="0 0 512 512">
        <use class="social-svg" xlink:href="#link-svg" x="0" y="0" />
      </svg>
    </a>
  {% endif %}
</div>