{% comment %}
	This post type breaks away from the other post types completely & that is why it takes on a different naming convention.
{% endcomment %}
<article class="feature">
{% if post.featured_image %}
	<figure class="feature__figure">
		<img class="feature__image" src="{{ post.featured_image }}" {% if post.featured_image_figcaption %}alt="{{ post.featured_image_figcaption }}"{% endif %} />
	{% if post.featured_image_figcaption %}
		<figcaption class="feature__figcaption"></figcaption>
	{% endif %}
	</figure>
{% endif %}
	<header class="feature__header">
		<h2 class="feature__title">
			<a class="feature__link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
		</h2>
	</header>
	<div class="feature__content">
		<time class="feature__date">{{ post.date | date: "%b %-d, %Y" }}</time>
		{% if post.description %}<p class="feature__description">
			<a class="post__link" href="{{ post.url | prepend: site.baseurl }}">{{ post.description }}</a>
		</p>{% endif %}
		{{ post.content }}
	</div>
</article>