.picture {
	&--circle {
		display: inline-block;
		left: 50%;
		overflow: hidden;
		position: relative;
		@include prefix(border-radius, 100%, webkit ms moz);
		@include prefix(transform, translateX(-50%), webkit ms moz);
	}
}
