.columns {
	&--2 {
		@include media-query($width-default) {
			border-bottom: 1px solid $color-grey;
			border-top: 1px solid $color-grey;
			margin: $spacing-unit auto;
			max-width: 75%;
			padding: ($spacing-unit * 1.2) 0;
			@include prefix(column-count, 2, webkit ms moz);
			@include prefix(column-gap, $spacing-unit-large, webkit ms moz);
			@include prefix(column-rule, 1px dashed $color-grey, webkit ms moz);
		}
	}
}