.site-note {
	p {
		font-family: $font-family-serif;
	}
	a {
		color: black;
	}
	&__social {
		margin-top: $spacing-unit;
		text-align: center;
	}
	&--top {
		background-color: $color-grey-lighter;
		max-width: calc(#{$width-default} - #{$spacing-unit * 4});
		@include media-query($width-default) {
			margin: #{$spacing-unit * 2} auto $spacing-unit;
		}
		p {
			font-size: $font-size-default * 1.5;
			max-width: none;
			padding: $spacing-unit * 2;
		}
	}
	&--bottom {
		margin: $spacing-unit 0;
		padding: $spacing-unit;
		@include media-query($width-default) {
			margin: #{$spacing-unit * 4} 0;
			padding: 0;
		}
		p {
			font-size: $spacing-unit * 1.5;
		}
		em {
			display: block;
			text-align: center;
		}
	}
	.social-item-inline {
		margin-top: $spacing-unit * 2;
		max-height: $spacing-unit * 3;
		max-width: $spacing-unit * 3;
	}
}