.social-svg {
  fill: $text-color;
}
.social-share {
  margin: 0;
  overflow: hidden;
  padding: $spacing-unit 0 ($spacing-unit * 2);
  text-align: center;
  &__link {
  	display: block;
  	height: $svg-unit;
  	overflow: hidden;
  	position: relative;
  	width: $svg-unit;
  }
  &__text {
  	position: absolute;
  	right: -100px;
  }
}