<h2 class="ui header centered lobster">Highlight Reel</h2>
<!-- slider -->
<div class="slider slider2">
	<div class="slides">
		<!--slide 1 -->
		<div class="slide-item item1">
			<div class="ui page stackable grid">
				<div class="one column row">
					<div class="column">
						<div class="content">
							<p>
							<strong>Innovator</strong> Developed Responsive Email Templating System, worked on application prototyping and engineering for several products modernizing User Experiences leading to +10% company profit growth year over year<br><em>- Outlook Amusements</em>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- slide 2 -->
		<div class="slide-item item2">
			<div class="ui page stackable grid">
				<div class="one column row">
					<div class="column">
						<div class="content">
							<p>
							<strong>Productivity pro</strong> Found ways to optimize page-load and increase admin/front end production time increasing page load speed and front end production time by 4x<br><em>- NASDAQ</em>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- slide 3 -->
		<div class="slide-item item3">
			<div class="ui page stackable grid">
				<div class="one column row">
					<div class="column">
						<div class="content">
						<p>

							<strong>Team Builder</strong> Worked with a team that grew customer base by 50%.<br><em>- NASDAQ</em>
							</p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="centered negative top">
<sub class="centered date">For more skill details or highlights <a href="//jeffry.in/contact/">contact me</a> or <a href="//www.linkedin.com/pub/jeffry-wainwright/12/813/750">check me out on Linked in</a></sub>
</div>