<footer class="site-footer">
  <div class="site-footer__content">
  	<p class="site-footer__text">
  		<a class="site-footer__link" href="{{ site.url }}">jeffry.in</a><span class="site-footer__date" data-date="site-year">2016</span></p>
  	<p class="site-footer__social">
	  	<a class="site-footer__link" href="mailto:{{ site.email }}">
		    <svg name="mail-svg" viewBox="0 0 512 512">
		      <use xlink:href="#mail-svg" x="0" y="0" />
		    </svg>
	  	</a>
		  <a class="site-footer__link" href="//twitter.com/@{{ site.twitter_username }}">
		  	<svg name="twitter-svg" viewBox="0 0 512 512">
		      <use xlink:href="#twitter-svg" x="0" y="0" />
		    </svg>
		  </a>
		  <a class="site-footer__link" href="//instagram.com/{{ site.instagram_username }}">
		  	<svg name="instagram-svg" viewBox="0 0 512 512">
		      <use xlink:href="#instagram-svg" x="0" y="0" />
		    </svg>
		  </a>
		  <a class="site-footer__link" href="//codepen.io/{{ site.codepen_username }}">
		  	<svg name="codepen-svg" viewBox="0 0 512 512">
		      <use xlink:href="#codepen-svg" x="0" y="0" />
		    </svg>
		  </a>
		  <a class="site-footer__link" href="//github.com/{{ site.github_username }}">
		  	<svg name="github-svg" viewBox="0 0 512 512">
		       <use xlink:href="#github-svg" x="0" y="0" />
		    </svg>
		  </a>
		  <a class="site-footer__link" href="{{ site.tumblr_account }}">
		  	<svg name="tumblr-svg" viewBox="0 0 512 512">
		       <use xlink:href="#tumblr-svg" x="0" y="0" />
		    </svg>
		  </a>
	  </p>
  </div>
</footer>
