<div id="footerWrap">
	<div class="ui page stackable grid footer footer-top">
		<div class="one column center aligned row">
			<div class="contact column">
				<div class="centered">
					<div id="showSocial">
						<div class="mini ui icon button circular transparent">
							<i class="heart icon layout showSocial"></i>
						</div>
						<span class="socialWrap slide" style="display:none">
							<a href="mailto:jjwainwright2@gmail.com?Subject=From%20your%20webpage" target="_top"><i class="mail outline icon"></i></a>
							<a href="//github.com/yowainwright"><i class="github icon"></i></a>
							<a href="//twitter.com/yowainwright"><i class="twitter icon"></i></a>
							<a href="//dribbble.com/yowainwright"><i class="dribbble icon"></i></a>
							<a href="//instagram.com/yowainwright"><i class="instagram icon"></i></a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ui page stackable grid footer footer-bottom">
		<div class="one column aligned row">
			<div class="column">
				<p class="centered">
					Jeffry Wainwright in <span id="year"></span>
				</p>
			</div>
		</div>
	</div>
</div>


