
<footer class="site-footer" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
  <div class="site-footer__content">
  	<a class="site-footer__link" href="{{ site.url }}">jeffry.in</a><span class="site-footer__date" data-date="site-year">2017</span>
</footer>
{% include scripts/analytics.html %}
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
  WebFont.load({
    google: {
      families: ['Oswald:300', 'Oswald:700']
    }
  });
</script>
