
&#60;div class="slider slider1"&#62;
	&#60;div class="slides"&#62;
		&#60;!--slide 1 --&#62;
		&#60;div class="slide-item item1"&#62;
			&#60;div class="ui page stackable grid"&#62;
				&#60;div class="one column center aligned row"&#62;
					&#60;div class="column"&#62;
						&#60;div class="content"&#62;
							&#60;h2&#62;From the city&#60;/h2&#62;
							&#60;img class="ui image note" src="{{ site.url }}/assets/dream1.png" alt="Slide 1 - from the city" /&#62;
						&#60;/div&#62;
					&#60;/div&#62;
				&#60;/div&#62;
			&#60;/div&#62;
		&#60;/div&#62;
		&#60;!-- slide 2 --&#62;
		&#60;div class="slide-item item2"&#62;
			&#60;div class="ui page stackable grid"&#62;
				&#60;div class="one column center aligned row"&#62;
					&#60;div class="column"&#62;
						&#60;div class="content"&#62;
							&#60;h2&#62;To the country&#60;/h2&#62;
							&#60;img class="ui image note" src="{{ site.url }}/assets/dream2.png" alt="Slide 2 - to the country" /&#62;
						&#60;/div&#62;
					&#60;/div&#62;
				&#60;/div&#62;
			&#60;/div&#62;
		&#60;/div&#62;
	&#60;/div&#62;
&#60;/div&#62;