<!-- slider -->
<div class="slider slider5">
	<div class="slides">
		<!--slide 1 -->
		<div class="slide-item item1">
			<div class="ui page stackable grid">
				<div class="one column center aligned row">
					<div class="column">
						<div class="centered">
							<img class="circular ui medium image centered" src="/assets/hb/h.jpg" alt="h in happy birthday" />
							<p class="bd centered"><strong>'h'</strong>appy birthday</p>
						</div>						
					</div>
				</div>
			</div>
		</div>
		<!-- slide 2 -->
		<div class="slide-item item2">
			<div class="ui page stackable grid">
				<div class="one column center aligned row">
					<div class="column">
						<div class="centered">
							<img class="circular ui medium image centered" src="/assets/hb/a.jpg" alt="a in happy birthday" />
							<p class="bd centered">h<strong>'a'</strong>ppy birthday</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- slide 3 -->
		<div class="slide-item item3">
			<div class="ui page stackable grid">
				<div class="one column center aligned row">
					<div class="column">
						<div class="centered">
							<img class="circular ui medium image centered" src="/assets/hb/p.jpg" alt="p in happy birthday" />
							<p class="bd centered">ha<strong>'p'</strong>py birthday</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- slide 4 -->
		<div class="slide-item item4">
			<div class="ui page stackable grid">
				<div class="one column center aligned row">
					<div class="column">
						<div class="centered">
							<img class="circular ui medium image centered" src="/assets/hb/p2.jpg" alt="p in happy birthday" />
							<p class="bd centered">hap<strong>'p'</strong>y birthday</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- slide 5 -->
		<div class="slide-item item5">
			<div class="ui page stackable grid">
				<div class="one column center aligned row">
					<div class="column">
						<div class="centered">

							<img class="circular ui medium image centered" src="/assets/hb/y.jpg" alt="y in happy birthday" />
							<p class="bd centered">happ<strong>'y'</strong> birthday</p>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- slide 6 -->
		<div class="slide-item item6">
			<div class="ui page stackable grid">
				<div class="one column center aligned row">
					<div class="column">
						<div class="centered">
							<img class="circular ui medium image centered" src="/assets/hb/b.jpg" alt="b in happy birthday" />
							<p class="bd centered">happy <strong>'b'</strong>irthday</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- slide 7 -->
		<div class="slide-item item7">
			<div class="ui page stackable grid">
				<div class="one column center aligned row">
					<div class="column">
						<div class="centered">
							<img class="circular ui medium image centered" src="/assets/hb/i.jpg" alt="i in happy birthday" />
							<p class="bd centered">happy b<strong>'i'</strong>rthday</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- slide 8 -->
		<div class="slide-item item8">
			<div class="ui page stackable grid">
				<div class="one column center aligned row">
					<div class="column">
						<div class="centered">
							<img class="circular ui medium image centered" src="/assets/hb/r.jpg" alt="r in happy birthday" />
							<p class="bd centered">happy bi<strong>'r'</strong>rthday</p>		
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- slide 9 -->
		<div class="slide-item item9">
			<div class="ui page stackable grid">
				<div class="one column center aligned row">
					<div class="column">
						<div class="centered">
							<img class="circular ui medium image centered" src="/assets/hb/t.jpg" alt="t in happy birthday" />
							<p class="bd centered">happy bir<strong>'t'</strong>thday</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- slide 10 -->
		<div class="slide-item item10">
			<div class="ui page stackable grid">
				<div class="one column center aligned row">
					<div class="column">
						<div class="centered">


							<img class="circular ui medium image centered" src="/assets/hb/h.jpg" alt="h in happy birthday" />
							<p class="bd centered">happy birt<strong>'h'</strong>day</p>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- slide 11 -->
		<div class="slide-item item11">
			<div class="ui page stackable grid">
				<div class="one column center aligned row">
					<div class="column">
						<div class="centered">
							<img class="circular ui medium image centered" src="/assets/hb/d.jpg" alt="d in happy birthday" />
							<p class="bd centered">happy birth<strong>'d'</strong>ay</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- slide 12 -->
		<div class="slide-item item12">
			<div class="ui page stackable grid">
				<div class="one column center aligned row">
					<div class="column">
						<div class="centered">	

							<img class="circular ui medium image centered" src="/assets/hb/a2.jpg" alt="a in happy birthday" />
							<p class="bd centered">happy birthd<strong>'a'</strong>y</p>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- slide 13 -->
		<div class="slide-item item13">
			<div class="ui page stackable grid">
				<div class="one column center aligned row">
					<div class="column">
						<div class="centered">												
							<img class="circular ui medium image centered" src="/assets/hb/y2.jpg" alt="y in happy birthday" />
							<p class="bd centered">happy birthda<strong>'y'</strong></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="centered negative top">
	<sub class="centered date"></sub>
</div>