<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#ffffcc">
  <title>{{ page.title }} - Jeffry.in</title>
  <meta name="description" content="{% if page.meta %}{{ page.meta }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines }}{% else %}{{ site.description }}{% endif %} - Jeffry.in">
  <meta name="google-site-verification" content="8eHITXF6-kLwRSGadGPduRcZYBmX-R_L85vU_DCB9gU" />
  <meta name="robots" content="index,follow" />
  <meta name="viewport" content="width=device-width">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@yowainwright">
  <meta name="twitter:url" property="og:url" content="{{ site.url }}{{page.permalink }}">
  <meta name="twitter:title" property="og:title" content="{{ page.title }}">
  <meta name="twitter:description" property="og:description" content="{% if page.meta %}{{ page.meta }}{% elsif page.excerpt %}{{ page.excerpt | strip_html | strip_newlines }}{% else %}{{ site.description }}{% endif %}">

  <meta name="twitter:image" property="og:image" content="{{ site.url }}{% if page.share_image %}{{page.share_image}}{% elsif page.featured_image %}{{ page.featured_image }}{% else %}/assets/w.jpg{% endif %}">

  {% include scripts/analytics.html %}

  {% include scripts/fonts.html %}
  <link rel="manifest" href="manifest.json">

  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="{{ site.url }}/assets/favicon.ico" rel="icon" />
  <link href="{{ site.url }}/assets/w.png" rel="apple-touch-icon" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
