<header id="site-header" class="site-header">

    <a class="site-header__link site-header__link--logo" href="{{ '/' | prepend: site.baseurl }}">
      <svg name="site-logo" viewBox="0 0 1000 1000">
        <use class="site-logo" xlink:href="#logo-w" x="0" y="0" />
      </svg>
      <h2 class="site-header__site-title">{{ site.title }}</h2>
    </a>

    <h1 class="site-header__title">{{page.title}}</h1>

    <nav class="site-header__navigation">

	    <ul class="site-header__items site-header__items--pages">
	    {% for item in site.data.nav.page %}
	    	<li class="site-header__item">
	    		<a class="site-header__link" href="{{ item.path }}">{{ item.name }}</a>
	    	</li>
	    {% endfor %}
	    </ul>

	    <ul class="site-header__items site-header__items--social">
	    {% for item in site.data.nav.social %}
	    	<li class="site-header__item">
	    		<a class="site-header__link" href="{{ item.path }}" targe="_blank">{{ item.name }}</a>
	    	</li>
	    {% endfor %}
	    </ul>

	    <div class="site-header__posts">

	    	{% for post in site.posts limit: 2 %}
					<article class="site-header__post">
						<a class="site-header__link" href="{{ post.url | prepend: site.baseurl }}">
							{% if post.featured_image %}
		            	<img class="site-header__image" src="{{ post.featured_image }}" alt="{{ post.title }}">
							{% endif %}
							<h3 class="site-header__title--post">
							{{ post.title | truncate: 50, '&hellip;' }}
							</h3>
						</a>
					</article>
	    	{% endfor %}

	    </div>

    </nav>

</header>
