<nav id="site-nav" class="site-nav">
	<div class="site-nav__content">
    <a class="site-nav__link site-nav__link--logo" href="{{ '/' | prepend: site.baseurl }}">
      <svg name="site-logo" viewBox="0 0 1000 1000">
        <use class="site-logo" xlink:href="#logo-w" x="0" y="0" />
      </svg>
      <h2 class="site-nav__site-title">{{ site.title }}</h2>
    </a>
    <p class="site-nav__title">{{page.title}}</p>
	  <div class="site-nav__posts">
    	{% for post in site.posts limit: 3 %}
			<article class="site-nav__post">
				<a class="site-nav__link" href="{{ post.url | prepend: site.baseurl }}">
				{% if post.featured_image %}
	        <img class="site-nav__image" src="{{ post.featured_image }}" alt="{{ post.title }}">
				{% endif %}
					<h3 class="site-nav__title--post">
					{{ post.title | truncate: 50, '&hellip;' }}
					</h3>
				</a>
			</article>
    	{% endfor %}
	  </div>
  </div>
</nav>
