<nav id="site-nav" class="site-nav" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="site-nav__container">
	  <ol class="site-nav__items">
	  	<li class="site-nav__item site-nav__item--home">
	  		<a class="site-nav__link site-nav__link--logo" href="{{ site.url }}">
	    		<svg name="site-logo" viewBox="0 0 1000 1000">
	      		<use class="site-logo" xlink:href="#logo-w" x="0" y="0" />
	    		</svg>
	  		</a>
	  	</li>
	  	<li class="site-nav__item">
	  		<a class="site-nav__link" href="//github.com/yowainwright">
	  			Github
	  		</a>
	  	</li>
	  	<li class="site-nav__item">
	  		<a class="site-nav__link" href="//twitter.com/yowainwright">
	  			Twitter
	  		</a>
	  	</li>
	  	<li class="site-nav__item">
	  		<a class="site-nav__link" href="/archive">
	  			Archives
	  		</a>
	  	</li>
	  	<li class="site-nav__item">
	  		<a class="site-nav__link" href="{{ site.url }}/about/">
	  			About
	  		</a>
	  	</li>
	  </ol>
  </div>
</nav>
