<nav id="site-nav" class="site-nav">
  <article class="site-nav__featured-post">
    <h3 class="site-nav__headline">Featured</h3>
    {% for post in site.categories.featured limit: 1 %}
    {% endfor %}
    <picture class="site-nav__picture">
        <img class="site-nav__image" src="{{ post.featured_image }}" alt="{{ post.title }}">
    </picture>
    {{ post.excerpt }}
  </article>
  <h3 class="site-nav__headline">Recent</h3>
  <ul class="site-nav__posts">
    {% for post in site.posts limit: 5 %}
      <li class="site-nav__post">
        <a class="site-nav__link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
    <li class="site-nav__post site-nav__post--view-all">
      <a class="site-nav__link site-nav__link--view-more-posts" href="{{ site.baseurl }}">View More Posts</a>
    </li>
  </ul>
	<ul class="site-nav__pages">
	    <li class="site-nav__page">
	    	<a class="site-nav__link site-nav__link--page" href="/resume/">Resume</a>
	    </li>
	</ul>
	{% include social/navigation.html contactListLocation="navigation" %}
</nav>