<h2 class="ui header centered lobster">Reference Rolodex</h2>
<!-- slider -->
<div class="slider slider3">
	<div class="slides">
		<!--slide 1 -->
		<div class="slide-item item1">
			<div class="ui page stackable grid">
				<div class="one column row">
					<div class="column">
						<div class="content">
								<p>
									Jeff came into our department at a time when we were in need of someone with strong UI/UX skills to help bring a large project to completion. <strong>His knowledge of the latest HTML and CSS coding standards and frameworks, along with his boundless energy and passion for frontend development</strong> ...<a href="//www.linkedin.com/profile/view?id=43821420&trk=nav_responsive_tab_profile_pic">more</a>
									<br><em>- Chris</em>
								</p>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- slide 2 -->
		<div class="slide-item item2">
			<div class="ui page stackable grid">
				<div class="one column row">
					<div class="column">
						<div class="content">	
						<p>
									Jeffry is a great front-end/UX developer who understands UX and Design and can also turn that into actual front-end code. I worked with Jeffry at Outlook and he is a great talented guy who <strong>can wear multiple hats and deliver under pressure.</strong>
									<br><em>- Amrit</em>
								</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- slide 3 -->
		<div class="slide-item item3">
			<div class="ui page stackable grid">
				<div class="one column row">
					<div class="column">
						<div class="content">
								<p>
									Jeffry is a seasoned web developer who is always on top of the latest trends. It was a pleasure working with Jeffry because of his professionalism and positive attitude. <strong>He is a team player and easy to deal with</strong>. Jeffry can become a true asset for any company.
									<br><em>- Aleksey</em>
								</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="centered negative top">
<sub class="centered date">For more references or details on my references <a href="//jeffry.in/contact/">contact me</a> or <a href="//www.linkedin.com/pub/jeffry-wainwright/12/813/750">check me out on Linked in</a></sub>
</div>