<h2 class="ui header centered lobster">Shelved: sketches & projects</h2>
<!-- slider -->
<div class="slider slider4">
	<div class="slides">
		<!--slide 1 -->
		<div class="slide-item item1">
			<div class="content centered">
				<img class="ui image" src="{{ site.url }}/old-jeffry-in/assets/man.jpg" alt="This is a sketch I did for a narrative project." />
				<sub class="date">N&deg;1 Sketch of a man for a narrative series.</sub>
			</div>
		</div>
		<!--slide 1 -->
		<div class="slide-item item2">
			<div class="content centered">
				<img class="ui image" src="{{ site.url }}/old-jeffry-in/assets/wall.jpg" alt="Chalk wall drawing" />
				<sub class="date">N&deg;2 Chalk wall sketch - up closer</sub>
			</div>
		</div>
		<!--slide 1 -->
		<div class="slide-item item3">
			<div class="content centered">
				<img class="ui image" src="{{ site.url }}/old-jeffry-in/assets/wall2.jpg" alt="Chalk wall drawing - 2nd perspective" />
				<sub class="date">N&deg;3 Chalk wall sketch 2 - distant perspective</sub>
			</div>
		</div>
		<!--slide 1 -->
		<div class="slide-item item4">
			<div class="content centered">
				<img class="ui image" src="{{ site.url }}/old-jeffry-in/assets/table.jpg" alt="This is a finished picture of a my table." />
				<sub class="date">N&deg;4 Image of coffee table and bench I built</sub>
			</div>
		</div>
		<!-- slide 2 -->
		<div class="slide-item item5">
			<div class="content centered">
				<img class="ui image" src="{{ site.url }}/old-jeffry-in/assets/table2.jpg" alt="This is a quick sketch of the table." />
				<sub class="date">N&deg;5 Original sketch of coffee table I built (see previous image)</sub>
			</div>
		</div>
	</div>
</div>
<div class="centered negative top">
<sub class="centered"></sub>
</div>