<svg  style="display: none;">
	<!-- site logo -->
	{% include svgs/logo.html %}
	<!-- twitter logo -->
	{% include svgs/twitter.html %}
	<!-- tumblr logo -->
	{% include svgs/tumblr.html %}
	<!-- instagram logo -->
	{% include svgs/instagram.html %}
	<!-- github logo -->
	{% include svgs/github.html %}
	<!-- codepen logo -->
	{% include svgs/codepen.html %}
	<!-- mail logo -->
	{% include svgs/mail.html %}
	<!-- facebook logo -->
	{% include svgs/facebook.html %}
	<!-- link logo -->
	{% include svgs/link.html %}
</svg>