<svg  style="display: none;">
	<!-- site logo -->
	{% include use/logo.html %}
	<!-- twitter logo -->
	{% include use/twitter.html %}
	<!-- tumblr logo -->
	{% include use/tumblr.html %}
	<!-- instagram logo -->
	{% include use/instagram.html %}
	<!-- github logo -->
	{% include use/github.html %}
	<!-- codepen logo -->
	{% include use/codepen.html %}
	<!-- mail logo -->
	{% include use/mail.html %}
	<!-- facebook logo -->
	{% include use/facebook.html %}
	<!-- link logo -->
	{% include use/link.html %}
</svg>