.post--single {
	margin-bottom: $spacing-unit-largest;
	position: relative;
	.post {
		&__figure {
			margin: 0;
		}
		&__image {
			max-width: 100% !important;
		}
		&__title {
			background: rgba(0, 0, 0, 0.8);
			font-size: $font-size-largest;
			max-width: 100%;
			margin: 0;
			padding: $spacing-unit;
			width: 100%;
			@include middle-align(absolute);
			@include media-query($width-small) {
				max-width: $width-default;

			}
		}
		&__link {
			color: white;
		}
	}
}