$font-size-super: $font-size-default * 5;
.post--single {
	position: relative;
	margin-bottom: $spacing-unit-largest;
	.post {
		&__figure {
			margin: 0;
			@include media-query($width-small) {
				margin-left: auto;
				margin-right: auto;
				max-width: $width-medium;
			}
		}
		&__image {
			max-width: 100% !important;
		}
		&__title {
			background: rgba(0, 0, 0, 0.8);
			font-size: $font-size-large;
			max-width: calc(100% - #{$spacing-unit-large});
			margin: 0;
			padding: $spacing-unit;
			bottom: $spacing-unit-medium;
			width: calc(100vw - #{$spacing-unit-medium});
			@include horizontal-align(absolute);
			@include media-query($width-small) {
				font-size: $font-size-largest;
				max-width: $width-medium;
				width: calc(#{$width-medium} / 1.25);
			}
			@include media-query($width-medium) {
				font-size: $font-size-super;
				line-height: 1.2;
				padding: $spacing-unit-medium $spacing-unit-large;
			}
		}
		&__link {
			color: white;
		}
	}
}
