html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: $font-family-default;
  line-height: $line-height-default;
  color: black;
  -webkit-text-size-adjust: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: 500;
}
h2,
ul,
ol {
  margin-bottom: $spacing-unit;
}
ul,
ol {
  margin-top: $spacing-unit;
  li > p {
    margin-bottom: 0;
  }
}
h1,
h2,
h3 {
  line-height: 1.25;
  text-align: center;
}
h1 {
  font-size: 2.5rem;
  margin: 0;
  text-align: center;
  @include media-query($width-small) {
    font-size: 5rem;
    max-width: 70rem;
  }
}
p,
li {
  font-size: 1rem;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: calc(100% - #{$spacing-unit-large});
  @include media-query($width-small) {
    font-size: 1.25rem;
    max-width: $width-reader;
  }
}
p {
  line-height: 2;
}
li {
  margin-bottom: $spacing-unit-small;
}
li,
li p {
  line-height: 1.5;
}
a {
  color: black;
  text-decoration: none;
  &:hover {
    text-decoration: underline;;
  }
}
blockquote {
  border-left: 4px solid $color-grey-lighter;
  max-width: calc(100% - #{$spacing-unit-large});
  padding: $spacing-unit-small $spacing-unit;
  @include media-query($width-small) {
    max-width: $width-reader;
  }
  p {
    border-bottom: 0 !important;
    border-top: 0 !important;
    float: none !important;
    font-family: sans-serif !important;
    font-size: 1.25rem !important;
    font-weight: 300 !important;
    line-height: 1.5 !important;
    max-width: none !important;
    &:first-letter {
      float: none !important;
      font-family: sans-serif !important;
      font-size: 1.25rem !important;
      font-weight: 300 !important;
      line-height: 1 !important;
      margin: 0 !important;
    }
  }
}
figure {
  margin: 0 auto;
}
img,
iframe {
  display: block;
  margin-bottom: $spacing-unit;
  margin-top: $spacing-unit;
  max-width: 100%;
}
time {
  display: block;
  font-size: 1rem;
  margin: 1rem 0;
  position: relative;
  text-align: center;
  @include media-query($width-small) {
    margin: 2rem 0;
  }
}

// element max-widths
hr,
h3,
h4,
h5,
h6,
p,
ul,
ol,
header,
time {
  max-width: calc(100% - #{$spacing-unit-large});
}
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
time {
  @include media-query($width-small) {
    max-width: $width-reader;
  }
}
hr,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
header,
img,
iframe,
code,
pre,
blockquote,
table,
time {
  margin-left: auto;
  margin-right: auto;
}
header {
  margin-top: $spacing-unit;
  @include media-query($width-small) {
    max-width: none;
  }
}
hr {
  border: 0;
  border-top: 1px solid lightgray;
  @include media-query($width-small) {
    max-width: 50rem;
  }
}
iframe,
code,
pre,
blockquote,
table {
  @include media-query($width-small) {
    max-width: 50rem;
  }
}
pre,
code {
  border: #{$spacing-unit * .2 / $conversion-number} solid $color-grey-lighter;
  border-radius: $spacing-unit * 3 / 16;
  background-color: $color-grey-lightest;
}
pre {
  max-width: calc(100% - #{$spacing-unit-large});
  padding: $spacing-unit-small $spacing-unit;
  overflow-x: auto;
  @include media-query($width-small) {
    max-width: $width-reader;
  }
}
code {
  padding: $spacing-unit * .3 / $conversion-number;
  font-size: 1.25rem;
  pre & {
    border: 0;
    border-radius: 0;
  }
}
ul,
ol {
  clear: both;
  padding-left: 1rem;
}
main {
  padding: 0 0 $spacing-unit;
  @include media-query($width-small) {
    padding: 0 0 $spacing-unit-largest;
  }
}
// trumps : general
.page--about {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - #{$spacing-unit-large});
  @include media-query($width-small) {
    max-width: $width-reader;
  }
}
time,
.page--archive h1,
.post--about h1,
.post__content h2,
.post__content h3 {
  &:after,
  &:before {
    color: lightgray;
    content: '———';
    display: inline-block;
    font-size: 1rem;
  }
  &:after {
    padding-left: 1rem;
  }
  &:before {
    padding-right: 1rem;
  }
}
.page h1 {
  @include media-query($width-small) {
    margin-top: 4.5rem;
  }
}
.post--about h1 {
  margin-bottom: 2rem;
  @include media-query($width-small) {
    margin-bottom: 4.5rem;
  }
}
