html, 
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: $font-family-serif;
  font-size: $font-size-medium;
  line-height: $line-height-default;
  color: $text-color;
  -webkit-text-size-adjust: 100%;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
hr,
h1, 
h2, 
h3, 
h4, 
h5, 
h6,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
header {
  margin-left: auto;
  margin-right: auto;
  @extend %contentReaderMaxWidth;
}
iframe,
code,
pre,
blockquote,
table {
  margin-left: auto;
  margin-right: auto;
  @extend %contentDefaultMaxWidth;
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-weight: normal;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
h1 {
  @include pageTitle;
}
blockquote {
  border-left: 4px solid $color-grey-lightest;
  clear: both;
  font-size: $font-size-medium;
  font-style: italic;
  margin-bottom: $spacing-unit-large;
  margin-top: $spacing-unit-large;
  max-width: calc(100% - #{$spacing-unit-large});
  padding: $spacing-unit-small $spacing-unit;
  @include media-query($width-small) {
    max-width: $width-reader;
  }
  p {
    margin: 0;
  }
}
iframe {
  display: block;
  height: auto;
  width: 100%;
}
pre,
code {
  border: .5px solid $color-grey-lighter;
  border-radius: $spacing-unit * 3 / 16;
  background-color: $color-grey-lightest;
}
pre {
  padding: $spacing-unit-small $spacing-unit;
  overflow-x: scroll;
}
code {
  padding: $spacing-unit-small;
  pre & {
    border: 0;
    border-radius: 0;
  }
}
ul,
ol {
  clear: both;
}
main {
  padding: 0 0 $spacing-unit;
  @include media-query($width-small) {
    padding: $spacing-unit-large 0 $spacing-unit-largest;
  }
}
.page--about {
  margin-left: auto;
  margin-right: auto;
  @extend %contentWidthMargins;
  @include media-query($width-small) {
    @extend %contentReaderMaxWidth;

  }
  h1 {
    margin-bottom: $spacing-unit-large;
  }
  .title {
    border-bottom: 1px solid $color-grey-lightest;
  }
  .subtitle,
  .meta {
    margin: 0;
  }
}
.site-header__content {
  background-color: $color-grey-lightest;
  font-style: italic;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding: $spacing-unit;
}