html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: $font-family-default;
  line-height: $line-height-default;
  color: $text-color;
  -webkit-text-size-adjust: 100%;
}

// fonts
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-headline;
}
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-weight: bold;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
h2,
ul,
ol {
  margin-bottom: $spacing-unit;
}
ul,
ol {
  margin-bottom: $spacing-unit;
  margin-top: $spacing-unit;
  li > p {
    margin-bottom: 0;
  }
}
li {
  margin-bottom: $spacing-unit-smallest;
}
h1,
h2,
h3 {
  line-height: 1.25;
}
h1 {
  font-size: $font-size-large;
  margin: 0;
}
h2,
h3 {
  font-size: $font-size-medium;
}
p,
li {
  font-family: $font-family-default;
  font-weight: lighter;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: calc(100% - #{$spacing-unit-large});
  @include media-query($width-small) {
    max-width: $width-reader;
  }
}
p {
  line-height: 2;
}
li {
  margin-bottom: $spacing-unit-small;
}
li,
li p {
  line-height: 1.5;
}
a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    text-decoration: underline;;
  }
}
blockquote {
  border-left: 4px solid $color-grey-lighter;
  max-width: calc(100% - #{$spacing-unit-large});
  padding: $spacing-unit-small $spacing-unit;
  @include media-query($width-small) {
    max-width: $width-reader;
  }
  p {
     margin: 0;
  }
}
// media
figure {
  margin: 0 auto;
}
img,
iframe {
  display: block;
  margin-bottom: $spacing-unit;
  margin-top: $spacing-unit;
  max-width: 100%;
  @include media-query($width-small) {
    max-width: $width-default;
  }
}

// element max-widths
hr,
h1,
h2,
h3,
h4,
h5,
h6,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
header {
  max-width: calc(100% - #{$spacing-unit-large});
  @include media-query($width-small) {
    max-width: $width-reader;
  }
}
hr,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
header,
img,
iframe,
code,
pre,
blockquote,
table {
  margin-left: auto;
  margin-right: auto;
}
iframe,
code,
pre,
blockquote,
table {
  @include media-query($width-small) {
    max-width: $width-default;
  }
}
pre,
code {
  border: #{$spacing-unit * .2 / $conversion-number} solid $color-grey-lighter;
  border-radius: $spacing-unit * 3 / 16;
  background-color: $color-grey-lightest;
}
pre {
  max-width: calc(100% - #{$spacing-unit-large});
  padding: $spacing-unit-small $spacing-unit;
  overflow-x: auto;
  @include media-query($width-small) {
    max-width: $width-reader;
  }
}
code {
  padding: $spacing-unit * .3 / $conversion-number;
  pre & {
    border: 0;
    border-radius: 0;
  }
}
ul,
ol {
  clear: both;
  padding-left: 1rem;
}
main {
  padding: 0 0 $spacing-unit;
  @include media-query($width-small) {
    padding: 0 0 $spacing-unit-largest;
  }
}

// trumps : general
.page--about {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - #{$spacing-unit-large});
  @include media-query($width-small) {
    max-width: $width-reader;
  }
  h1 {
    margin-bottom: $spacing-unit-large;
  }
}
.site-header {
  max-width: none;
  background-color: $color-grey-lightest;
  @include media-query($width-small) {
    max-width: $width-reader;
    margin-top: 2rem;
  }
  &__content {
    font-size: $font-size-default;
    line-height: 1.5;
    font-style: italic;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: none;
    margin-top: 0;
    padding: $spacing-unit;
  }
}
