.site-footer {
  border-top: 1px solid $color-grey-lightest;
  margin: 0 auto;
  padding: $spacing-unit;
  text-align: center;
  @include media-query($width-small) {
    max-width: 50rem;
  }
  &__link {
    text-decoration: none;
  }
  &__date {
    padding-left: $spacing-unit-small;
  }
}
