.site-footer {
  text-align: center;
  color: white;
  &__content {
    background-color: black;
    display: inline-block;
    padding: 1rem;
  }
  &__link {
    color: white;
    text-decoration: none;
  }
  &__date {
    padding-left: $spacing-unit-small;
  }
}
