.site-footer {
  border-top: 1px solid $color-grey-lightest;
  padding: $spacing-unit;
  text-align: center;
  &__link {
    text-decoration: none;
  }
  &__date {
    padding-left: $spacing-unit-small;
  }
}
