// media queries
@mixin media-query($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}
// vender prefixing
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  // Output standard non-prefixed declaration
  #{$property}: $value;
}
// micro-clearfix
@mixin micro-clearfix {
	&:before,
	&:after {
		content: '';
		display:table;
	}
	&:after {
		clear:both;
	}
}

@mixin button {
	border: none;
	outline: none;
	padding: 0;
}

@mixin pageTitle {
	font-size: $font-size-default * 2.25;
  font-weight: $font-weight-bold;
  line-height: 1;
  margin: ($spacing-unit / 6) auto;
  padding: $spacing-unit;
  text-align: center;
  text-shadow: 0 1px 1px $color-red-light;
  text-transform: uppercase;
  @include media-query($width-default) {
    font-size: $font-size-default * 3;
    padding: $spacing-unit 0;
  }
}