$width-small-pre-small: $spacing-unit * 420 / $conversion-number;
$width-small-very-small: $spacing-unit * 500 / $conversion-number;
$width-small-small: $spacing-unit * 670 / $conversion-number;
$width-small-medium: $spacing-unit * 825 / $conversion-number;
$width-medium-large: $spacing-unit * 1000 / $conversion-number;
.site-nav {
  border-bottom: 1px solid $color-grey-lighter;
	overflow: hidden;
	position: relative;
	height: $site-nav-height;
	max-width: $spacing-unit * 1180 / $conversion-number;
	@include media-query($width-small) {
		margin: 0 auto;
	}
	&__link {
		color: black;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		&--logo {
			border: 3px dotted black;
			display: block;
			float: left;
			height: $brand-unit-circle;
			opacity: 1;
			overflow: hidden;
			margin: $spacing-unit;
			padding: $spacing-unit / 2;
			width: $brand-unit-circle;
			top: $spacing-unit;
			@include prefix(border-radius, 100%, webkit ms moz);
		}
	}
	&__site-title {
		position: absolute;
		left: -#{$spacing-unit * 500 / 16};
	}
	&__title {
		display: none;
		font-family: $font-family-serif-other;
		font-size: $font-size-default * .65;
		font-style: italic;
		left: #{$spacing-unit * (102 / 16)};
		line-height: 1.5;
		margin: 0;
		padding-right: $spacing-unit;
		@include vertical-align(absolute);
		@include media-query($width-small-medium) {
			display: block;
			max-width: calc(30% - #{$spacing-unit * 110 / $conversion-number});
		}
		@include media-query($width-medium) {
			font-size: $font-size-default * .8;
			line-height: 1.5;
			max-width: calc(35% - #{$spacing-unit * 110 / $conversion-number});
		}
		@include media-query($width-large) {
			max-width: calc(29% - #{$spacing-unit * 110 / $conversion-number});
		}
	}
	&__featured-content {
		float: right;
		padding: 0 $spacing-unit;
		vertical-align: middle;
		@include prefix(display, flex, webkit ms moz);
		@include micro-clearfix;
		@include media-query($width-small-pre-small) {
			float: auto; 
			width: calc(100% - #{$spacing-unit * 110 / $conversion-number});
		}
		@include media-query($width-small-medium) {
			float: right;
			max-width: 70%;
		}
		@include media-query($width-medium) {
			max-width: 65%;
		}
		@include media-query($width-large) {
			max-width: $spacing-unit * 850 / $conversion-number;
		}
	}
	&__posts,
	&__about {
		margin-top: $spacing-unit;
		max-width: 50%;
		position: relative;
		vertical-align: middle;
		@include micro-clearfix;
		@include media-query($width-small-pre-small) {
			width: 100%;
		}
		&:before {
			border-top: 2px solid black;
			bottom: -$spacing-unit-small;
			left: 0;
			content: 'recent';
			display: block;
			font-size: $font-size-small;
			letter-spacing: .25px;
			line-height: 1.5;
			position: absolute;
			text-align: center;
			text-transform: uppercase;
			width: $spacing-unit * 65 / 16;
			@include prefix(transform, rotate(-90deg), webkit ms moz);
			@include prefix(transform-origin, left bottom 0, webkit ms moz);
		}
	}
	&__about {
		display: table;
		margin-right: $spacing-unit * 1.5;
		@include media-query($width-small-pre-small) {
			max-width: 20%;
		}
		@include media-query($width-small-very-small) {
			max-width: 50%;
		}
		@include media-query($width-small-small) {
			max-width: 35%;
		}
		@include media-query($width-large) {
			max-width: 30%;
		}
		&:before {
			content: 'about';
		}
		.site-nav__title--post {
			display: none;
			@include media-query($width-small-very-small) {
				display: block;
			}
		}
	}
	&__posts {
		display: table;
		@include media-query($width-small-pre-small) {
			max-width: 80%;
		}
		@include media-query($width-small-very-small) {
			max-width: 50%;
		}
		@include media-query($width-small-small) {
			max-width: 65%;
		}
		@include media-query($width-large) {
			max-width: 70%;
		}
		&:before {
			content: 'recent';
		}
		.site-nav__title--post {
			display: none;
			@include media-query($width-small-pre-small) {
				display: block;
			}
		}
	}
	&__post {
		display: table-cell;
		max-width: $spacing-unit * 200 / 16;
		padding: 0 $spacing-unit-small;
		&:nth-of-type(1) {
			@include media-query($width-small-small) {
				border-right: 1px dotted black;
			}
		}
		&:nth-of-type(2) {
			display: none;
			@include media-query($width-small-small) {
				display: table-cell;
			}
			@include media-query($width-large) {
				border-right: 1px dotted black;
			}
		}
		&:last-of-type {
			border-right: 0;
			.site-nav__posts & {
				display: none;
				@include media-query($width-large) {
					display: table-cell;
				}
			}
		}
	}
	&__image {
		float: left;
		margin-right: $spacing-unit-small;
		height: $site-nav-post-images;
	}
	&__title--post {
		font-family: $font-family-default;
		font-size: $font-size-default * .65;
		font-weight: normal;
		letter-spacing: .25px;
		line-height: 1.75;
		margin: 0;
		max-width: none;
		padding-left: $spacing-unit-small;
	}
}