$nav-height: 4rem;
.site-nav {
	border-bottom: 2px solid black;
	position: relative;
	margin: 0 auto 2rem;
	@include media-query($width-small) {
		border-bottom: 0;
    margin-bottom: 0;
    margin-top: 2rem;
    &:after {
      border-bottom: 3px solid black;
      content: ' ';
      left: 0;
      position: absolute;
      top: 2rem;
      width: 100%;
    }
	}
	&__link {
    display: block;
		height: $nav-height;
    font-family: $font-family-nav;
    font-size: .85rem;
    font-weight: 500;
    letter-spacing: .1rem;
		line-height: $nav-height;
		text-align: center;
    text-transform: uppercase;
    @include media-query($width-small) {
      line-height: 4.25rem !important;
    }
		&--logo {
      background-color: $color-yellow-light;
      padding: 0 1rem;
		}
	}
	&__items {
    display: flex;
    justify-content: space-around;
    max-width: none;
    padding: 0;
    position: relative;
	}
  &__item {
  	background-color: white;
  	list-style-type: none;
  	margin: 0;
  	padding: 0 .5rem;
  	position: relative;
  	z-index: 2;
  	@include media-query($width-small) {
  		padding: 0 1rem;
  	}
    &--github {
      display: none;
      @include media-query($width-small) {
        display: list-item;
      }
    }
  }
}
[name=site-logo] {
  fill: black;
  opacity: 1;
}
