.posts {
	margin-bottom: $spacing-unit-large;
	@include media-query($width-small) {
		margin-bottom: $spacing-unit-largest;
	}
	.post {
		@extend %clearfix;	
		&__figure {
			margin: 0;
		}
		&__image {
			max-width: calc(100% - #{$spacing-unit-large});
			@include media-query($width-medium) {
				max-width: $width-default;
				padding: $spacing-unit 0;
			}
		}
		&__header {
			margin-bottom: $spacing-unit;
		}
		&__title,
		&__content {
			@extend %centerblock;		
			@extend %contentReaderMaxWidth;
		}
		&__title {
			margin-bottom: 0;
			a {
				color: black;
			}
		}
		&__content {
			margin-top: 0;
			border-bottom: 1px solid $color-grey-lightest;
			&:last-of-type {
				border-bottom: 0;
			}
		}
		&__author {
			color: black;
			&:hover {
				text-decoration: underline;
			}
		}
		&__date {
			font-family: $font-family-serif;
			@extend %centerblock;
			@extend %contentWidthMargins;
			@extend %contentReaderMaxWidth;
		}
	}
}