[name=site-logo],
[src='/assets/js.svg'],
[src='/assets/os.svg'],
[src='/assets/md.svg'] {
  fill: black;
  opacity: 1;
}
[src='/assets/js.svg'] {
  background-color: $color-yellow-light;
}
[src='/assets/os.svg'] {
  background-color: $color-blue-light;
}
[src='/assets/md.svg'] {
  background-color: $color-biege;
}
[src='/assets/sass.svg'] {
  background-color: $color-pink-light;
}