.first-paragraph {
  &:first-letter {
    font-size: $font-size-largest * 1.5;
    font-weight: bolder;
    position: relative;
    line-height: .75;
    margin-right: $spacing-unit * .2;
  }
}
.clear-fix-small {
  @include clearfix;
}
.clear-fix-medium {
  @include media-query($width-small) {
    @include clearfix;
  }
}
.clear-fix-large {
  @include media-query($width-medium) {
    @include clearfix;
  }
}
.image-circle {
	img {
		border-radius: 100%;
		overflow: hidden;
	}
}
.title {
	font-size: $font-size-large;
}
.subtitle {
	font-size: $font-size-medium;
}
.meta {
	font-size: $font-size-small;
}
.width {
  &--content {
    max-width: $width-reader;
    margin: 0 auto;
  }
}
