.first-paragraph {
  @extend %firstParagraph;
}
.clear-fix-small {
  @include clearfix;
}
.clear-fix-medium {
  @include media-query($width-small) {
    @include clearfix;
  }
}
.clear-fix-large {
  @include media-query($width-medium) {
    @include clearfix;
  }
}
.image-circle {
	img {
		border-radius: 100%;
		overflow: hidden;
	}
}
.image-left {
  img {
    @include media-query($width-small) {
      float: left;
      margin: $spacing-unit $spacing-unit-large $spacing-unit 0;
    }
  }
}
.image-right {
  img {
    @include media-query($width-small) {
      float: right;
      margin: $spacing-unit 0 $spacing-unit $spacing-unit-large;
    }
  }
}
.post__content .max-300 img {
  max-width: $spacing-unit * 300 / 16 !important;
}
.max-300.image-right img,
.max-300.image-left img {
  position: relative;
}
.height-300 img {
  height: $spacing-unit * 300 / 16 !important;
}
.max-300.image-right img {
  @include media-query($width-small) {
    left: -#{($spacing-unit * (300 / 2) / 16) - $spacing-unit-large};
    margin-left: #{$spacing-unit * (300 / 2) / 16};
  }
}
.max-300.image-left img {
  @include media-query($width-small) {
    right: -#{($spacing-unit * (300 / 2) / 16) - $spacing-unit-large};
    margin-right: #{$spacing-unit * (300 / 2) / 16};
  }
}
.title {
	font-size: $font-size-large;
}
.subtitle {
	font-size: $font-size-medium;
}
.meta {
	font-size: $font-size-small;
}