html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-default;
  line-height: 1.5;
  text-size-adjust: 100%;
}

h2,
ul,
ol {
  margin-bottom: $spacing-unit;
}

ul,
ol {
  margin-top: $spacing-unit;

  li > p {
    margin-bottom: 0;
  }
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 1rem;

  @include media-query($width-small) {
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 2rem;
  }

  @include media-query($width-medium) {
    font-size: 5rem;
  }
}

h2 {
  font-size: 1.8rem;

  @include media-query($width-small) {
    font-size: 2.5rem;
  }
}

h2,
h3 {
  .content & {
    font-family: $font-family-default;
    font-size: 1.5rem;
    font-weight: 900;
    margin: 3rem auto;

    @include media-query($width-small) {
      font-size: 2.5rem;
    }
  }
}

p,
li {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.025rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

li {
  line-height: 1.6;
  margin-bottom: $spacing-unit-small;
}

p {
  line-height: 1.8;

  li & {
    line-height: 1;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }
}

a {
  text-decoration: none;
  &:hover {
    text-decoration-line: underline;
  }
}

blockquote {
  @include media-query($width-small) {
    max-width: $width-reader;
  }

  p {
    font-family: sans-serif;
    font-style: italic;
    line-height: 1.7;
    margin: 1rem 0;
    padding-left: 1.5rem;
    position: relative;
    &:before {
      color: #000;
      content: '“';
      font-size: 4rem;
      position: absolute;
      top: -2rem;
      left: -1rem;
    }

    @include media-query($width-small) {
      line-height: 1.9;
      margin: 2rem 0;
    }
  }
}

figure {
  margin: 3rem auto;
  @include media-query($width-small) {
    margin: 5rem auto;
  }
}

figcaption {
  border-bottom: 1px solid $color-grey-lighter;
  border-top: 1px solid $color-grey-lighter;
  margin: 3rem auto;
  max-width: calc(100vw - 2rem);
  padding: 1rem 0;
  text-align: center;
  width: $width-reader;
}

img,
iframe {
  display: block;
  filter: grayscale(1);
  margin-bottom: $spacing-unit;
  margin-left: auto;
  margin-right: auto;
  margin-top: $spacing-unit;
  max-width: calc(100% - 2rem);
  @include media-query($width-small) {
    max-width: 100%;
  }
}

time {
  display: block;
  font-size: 0.6rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  margin-bottom: 1rem;
  position: relative;
  text-transform: uppercase;
}

hr {
  border: 0;
  border-top: 1px solid lightgray;
  margin-bottom: 2rem;
}

code {
  border: 1px solid #d3d3d3;
  // background-color: $color-grey-lightest !important;
  color: mediumvioletred !important;
  font-size: 1.1rem !important;
  padding: 0.075rem 0 !important;
  text-shadow: 1px 1px white !important;

  pre & {
    background-color: initial;
    border: 0;
    border-radius: 0;
    line-height: 1.6;
    text-shadow: none;
  }
}

ul,
ol {
  clear: both;
  padding-left: 1rem;
}

main {
  margin-left: auto;
  margin-right: auto;
}

.header__description {
  border-bottom: 1px solid lightgray;
  padding: 1.5rem 0;

  @include media-query($width-small) {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

// table styles, here and below
table {
  border-collapse: collapse;
  display: block;
  max-width: calc(100vw - 2rem);
  overflow-x: scroll;

  @include media-query($width-small) {
    display: table;
    max-width: 43.75rem; // 700px
    overflow-x: auto;
  }
}

td,
th {
  border: 1px solid #f2f2f2;
}

th {
  background: #f3f2fd;
  color: #282094;
  font-family: sans-serif;
  padding: 0.75rem 1rem;
}

td {
  padding: 0.5rem 1rem 1.5rem;
}

tr {
  &:nth-child(odd) {
    tbody & {
      background-color: #f9f9f9;
    }
  }
}

// code styles
.gatsby-highlight {
  margin: 2rem auto;

  pre[class*='language-'] {
    border: 0;
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
    @include media-query($width-small) {
      border-radius: 0.5rem;
    }
  }

  @include media-query($width-small) {
    max-width: 45rem;
  }
}
