html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-default;
  line-height: 1.5;
  color: black;
  text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-headline;
  font-weight: 900;
}

h2,
ul,
ol {
  margin-bottom: $spacing-unit;
}

ul,
ol {
  margin-top: $spacing-unit;
  li>p {
    margin-bottom: 0;
  }
}

h1,
h2,
h3 {
  line-height: 1.25;
  text-align: center;
}

h1 {
  font-size: 1.75rem;
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
  @include media-query($width-small) {
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 2rem;
  }
  @include media-query($width-medium) {
    font-size: 5rem;
    margin-top: 4.5rem;
    max-width: 60rem;
  }
}

h2 {
  font-size: 1.4rem;
  @include media-query($width-small) {
    font-size: 2.5rem;
  }
}

h2,
h3 {
  .content & {
    font-family: $font-family-default;
    font-size: 1.5rem;
    font-weight: 900;
    margin: 3rem auto;
    @include media-query($width-small) {
      font-size: 2.5rem;
    }
  }
}

p,
li {
  font-size: 1.25rem;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: calc(100% - #{$spacing-unit-large});
  @include media-query($width-small) {
    font-size: 1.5rem;
    max-width: $width-reader;
  }
}

li {
  line-height: 1.6;
  margin-bottom: $spacing-unit-small;
}

p {
  line-height: 1.75;
  li & {
    line-height: 1;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }
}

a {
  color: black;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-color: $color-grey-lightest;
  .content & {
    text-decoration-line: underline;
  }
  &:hover {
    text-decoration-line: underline;
    .content & {
      text-decoration-line: none;
    }
  }
  h2 &,
  &.post__link--read-more {
    &:hover {
      background: $color-yellow-light;
      text-decoration-line: none;
    }
  }
}

blockquote {
  @include media-query($width-small) {
    max-width: $width-reader;
  }
  p {
    font-size: 1.1rem;
    font-weight: 900;
    line-height: 1.7;
    margin: 1rem 0;
    @include media-query($width-small) {
      font-size: 1.5rem;
      line-height: 1.9;
      margin: 2rem 0;
    }
  }
}

figure {
  margin: 0 auto;
}

figcaption {
  border-bottom: 1px solid $color-grey-lighter;
  border-top: 1px solid $color-grey-lighter;
  margin: 3rem auto;
  max-width: calc(100vw - 2rem);
  padding: 1rem 0;
  text-align: center;
  width: $width-reader;
}

img,
iframe {
  display: block;
  margin-bottom: $spacing-unit;
  margin-top: $spacing-unit;
  max-width: calc(100% - 2rem);
  @include media-query($width-small) {
    max-width: 100%;
  }
}

time {
  display: block;
  font-family: sans-serif;
  font-size: .6rem;
  font-weight: bold;
  letter-spacing: .2rem;
  margin: 1rem 0;
  position: relative;
  text-align: center;
  @include media-query($width-small) {
    font-size: .7rem;
    margin: 2rem 0;
  }
  &:after,
  &:before {
    color: #000;
    content: '—';
    display: inline-block;
    font-size: 1rem;
  }
  &:after {
    padding-left: .25rem;
  }
  &:before {
    padding-right: .25rem;
  }
}

// element max-widths
hr,
h3,
h4,
h5,
h6,
p,
ul,
ol,
header,
time,
blockquote,
pre,
iframe,
code,
table,
hr,
.gatsby-highlight,
.content h2 {
  max-width: calc(100% - #{$spacing-unit-large});
  @include media-query($width-small) {
    max-width: $width-reader;
  }
}

hr,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
header,
img,
iframe,
code,
pre,
blockquote,
table,
time {
  margin-left: auto;
  margin-right: auto;
}

header {
  margin-top: 2rem;
  @include media-query($width-small) {
    margin-top: 0;
    max-width: none;
  }
}

hr {
  border: 0;
  border-top: 1px solid lightgray;
}

code {
  border: 1px solid lightgray;
  background-color: $color-grey-lightest;
  color: mediumvioletred;
  font-size: .8rem;
  padding: .075rem 0;
  text-shadow: 1px 1px white;
  pre & {
    background-color: initial;
    border: 0;
    border-radius: 0;
    line-height: 1.6;
    text-shadow: none;
  }
}

ul,
ol {
  clear: both;
  padding-left: 1rem;
}

main {
  max-width: 43.75rem; // 700px
  margin-left: auto;
  margin-right: auto;
  padding: 0 0 $spacing-unit;
}

.header__description {
  border-bottom: 1px solid lightgray;
  padding: 1.5rem 0;
  @include media-query($width-small) {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.gatsby-highlight {
  margin: 0 auto;
  pre[class*="language-"] {
    border: 0;
    border-radius: .25rem;
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
  }
}

table {
  border-collapse: collapse;
  display: block;
  max-width: calc(100vw - 2rem);
  overflow-x: scroll;
  @include media-query($width-small) {
    display: table;
    max-width: 43.75rem; // 700px
    overflow-x: auto;
  }
}

td,
th {
  border: 1px solid $color-grey-light;
}

th {
  padding: .5rem;
}

td {
  padding: .5rem 1rem 1.5rem;
}
