.break-three-dots {
  font-size: 2rem;
  text-align: center;

  @include media-query($width-medium) {
    font-size: 4rem;
  }
}

.highlighter-post {
  &--text {
    background: $color-pink;
  }

  &__text {
    margin: 0 auto;
    max-width: calc(100vw - 2rem);
    padding: 1rem;

    @include media-query($width-medium) {
      font-size: 2.5rem;
      max-width: calc(100vw - 6rem);
      padding: 3rem 1rem;
    }
  }

  .highlighter-post__text {
    max-width: calc(100vw - 2rem);
    @include media-query($width-medium) {
      max-width: calc(100vw - 6rem);
    }
  }

  .highlighter-post__image {
    max-width: calc(100vw - 2rem);
    @include media-query($width-medium) {
      max-width: 46rem;
    }
  }
}
