.break-three-dots {
  font-size: 2rem;
  text-align: center;

  @include media-query($width-medium) {
    font-size: 4rem;
  }
}

.highlighter-post {
  background: $color-pink;

  &__text {
    margin: 0 auto;
    max-width: calc(100vw - 2rem) !important;
    padding: 1rem;

    @include media-query($width-medium) {
      font-size: 2.5rem;
      max-width: calc(100vw - 6rem) !important;
      padding: 3rem 1rem;
    }
  }
}
