@font-face {
  font-family: 'diglu-black';
  src: url('../fonts/diglu-black.woff2') format('woff2'), url('../fonts/diglu-black.woff') format('woff'),
    url('../fonts/diglu-black.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
  unicode-range: U+?????;
}
