@font-face {
  font-family: 'diglu-light';
  src: url('../fonts/diglu-light.woff2') format('woff2'), url('../fonts/diglu-light.woff') format('woff'),
    url('../fonts/diglu-light.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
}
