.site-footer {
  &__wrapper {
    align-items: start;
    column-gap: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    max-width: calc(100% - 2rem);
    padding: 0;

    @include media-query($width-medium) {
      column-gap: 8rem;
      grid-template-columns: 33.3% 8rem 33.3%;
      padding: 3rem 0;
      max-width: calc(100% - 4rem);
    }
  }

  &__address {
    font-style: normal;
  }

  &__col {
    display: grid;

    &--self {
      grid-column: span 2;
      @include media-query($width-medium) {
        grid-column: auto;
        max-width: 50rem;
      }
    }
  }

  &__title {
    font-size: 1.8rem;
    margin: 1rem auto;

    &--last,
    &--self {
      text-align: center;
    }

    &--last {
      max-width: 100%;
      width: calc(100% - 2rem);
    }

    @include media-query($width-small) {
      font-size: 2.5rem;
      margin: 0;
      text-align: left;

      &--last,
      &--self {
        text-align: center;
      }

      &--last {
        margin: 3rem auto 0;
      }
    }

    @include media-query($width-medium) {
      margin-bottom: 3rem;
      &--self {
        text-align: right;
      }
    }
  }

  &__content,
  &__figure,
  &__items {
    margin: 0;
    padding: 0;
  }

  &__image {
    border: 8px solid #000;
    filter: none;
    margin: 1rem auto;
    max-width: 15rem;

    @include media-query($width-medium) {
      float: right;
      max-width: 10rem;
      margin: 0 0 0 1rem;
      width: 25%;
    }
  }

  &__caption {
    border: 0;
    font-size: 1.2rem;
    letter-spacing: 0.025rem;
    margin: 0 auto 2rem;
    max-width: 70%;
    padding: 0;
    text-align: center;
    width: 100%;
    @include media-query($width-medium) {
      margin: 0 0 2rem;
      text-align: right;
    }
  }

  &__content {
    margin: 0;
    padding: 0;
  }
}

.social-footer {
  .social-list {
    margin: 0;

    &__item {
      font-size: 1.2rem;
    }
  }
}
