.site-footer {
  background: #000;
  color: #fff;
  margin: 10rem auto 0;
  text-align: center;

  @include media-query($width-small) {
    margin-top: 15rem;
  }

  &__wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 2rem);
    padding: 5rem 0 3rem;
    @include media-query($width-medium) {
      max-width: $width-default;
      padding-top: 10rem;
    }
  }

  &__content {
    display: inline-block;
    font-size: 2rem;
    font-weight: 900;
    padding-top: 1rem;
  }

  &__link {
    color: #fff;
    text-decoration: none;
  }

  &__date {
    padding-left: $spacing-unit-small;
  }

  a {
    color: #fff;
  }
}
