$site-nav-height: $spacing-unit * 94 / 16;
$site-nav-post-images: $spacing-unit * 52 / 16;
$nav-height: 6rem;
// nav
.site-nav {
  position: relative;
  margin: 2rem auto;
  max-width: calc(100% - 2rem);
  &:after {
    border-bottom: 3px solid $color-grey-lightest;
    content: ' ';
    left: 0;
    position: absolute;
    top: 3rem;
    width: 100%;
  }
  @include media-query($width-medium) {
    margin: 6rem auto;
  }
  &__link {
    display: block;
    height: $nav-height;
    font-family: $font-family-nav;
    font-size: .85rem;
    font-weight: 500;
    letter-spacing: .1rem;
    line-height: $nav-height;
    text-align: center;
    text-transform: uppercase;
    &--home {
      background-color: blue;
      border-radius: 100%;
      color: white;
      padding: 0 1rem;
    }
  }
  &__items {
    display: flex;
    justify-content: space-around;
    max-width: $width-medium;
    padding: 0;
    position: relative;
  }
  &__item {
    background-color: white;
    list-style-type: none;
    margin: 0;
    padding: 0 .5rem;
    position: relative;
    z-index: 2;
    @include media-query($width-small) {
      padding: 0 1rem;
    }
    &--github,
    &--twitter {
      display: none;
      @include media-query($width-small) {
        display: list-item;
      }
    }
  }
}
