$site-nav-height: $spacing-unit * 94 / 16;
$site-nav-post-images: $spacing-unit * 52 / 16;
$nav-size: 3rem;
$nav-size-large: 4rem;

.site-nav {
  background:#fff;
  border-bottom: 1px solid $color-grey-lighter;
  height: $nav-size-large;
  padding-bottom: $nav-size-large;
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 2;

  @include media-query($width-small) {
    border-bottom-width: 0;
    height: $nav-size-large;
    padding-bottom: 10rem;
    padding-top: 5rem;
    position: relative;
  }

  @include media-query($width-medium) {
    padding: 10rem 0 15rem;
  }

  &:after {
    @include media-query($width-small) {
      border-bottom: 1px solid #000;
      content: ' ';
      left: 0;
      position: absolute;
      width: 100%;
      top: 8rem;
    }

    @include media-query($width-medium) {
      top: 13rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
  }

  &__main-item-link {
    &:hover {
      text-decoration: none;
    }
  }

  &__main-item {
    align-self: flex-start;
    background: #fff;
    display: flex;
    font-weight: 900;
    margin-left: 1rem;
    padding-top: .25rem;
    position: relative;
    z-index: 2;
    @include media-query($width-small) {
      padding-top: .5rem;
    }
  }
  &__main-item,
  &__item {
    height: $nav-size;

    @include media-query($width-small) {
      height: $nav-size-large;
    }
  }


  &__item {
    background: #fff;
    z-index: 2;
  }

  &__main-item-symbol {
    background: $color-pink;
    border-radius: 100%;
    color: #000;
    font-family: serif;
    font-size: 1.75rem;
    height: 3rem;
    margin: .25rem 1rem 0 0;
    padding: .35rem 0 0 0;
    text-align: center;
    text-transform: uppercase;
    width: $nav-size-large;

    @include media-query($width-small) {
      font-size: 2.5rem;
      height: $nav-size-large;
      margin: .5rem 1rem 0;
      width: $nav-size-large;
    }
  }

  &__main-item-title {
    font-size: .2rem;
    height: 0;
    visibility: hidden;
    width: 0;
  }

  &__link {
    font-size: 1rem;
    font-weight: 900;
  }

  &__items {
    align-self: flex-end;
    display: flex;
    justify-content: space-around;
    margin: .25rem 0 0 auto;
    max-width: $width-medium;
    padding: .5rem 0 0 0;
    position: relative;

    @include media-query($width-small) {
      margin: 1rem 0 0 auto;
    }
  }

  &__item {
    list-style-type: none;
    margin: 0;
    padding: 0 .75rem;
    position: relative;

    @include media-query($width-small) {
      margin: 0 1rem;
      padding: 0 .75rem;
    }

    &--github,
    &--twitter {
      display: none;

      @include media-query($width-small) {
        display: list-item;
      }
    }
  }
}
