.site-nav {
  background: #fff;
  border-bottom: 1px solid #f2f2f2;
  margin: 0 auto;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 3;

  @include media-query($width-small) {
    padding: 0;
    position: relative;
  }

  @include media-query($width-small) {
    border-bottom-width: 0;
    height: 5rem;
    margin: 3rem 0 5rem;
    position: relative;
  }

  @include media-query($width-medium) {
    height: 10rem;
  }

  &:after {
    @include media-query($width-small) {
      border-bottom: 4px solid #000;
      content: ' ';
      left: 0;
      position: absolute;
      width: 100%;
      top: 50%;
    }
  }

  &__container {
    display: flex;
    max-width: calc(100vw - 2rem);
    position: relative;

    @include media-query($width-small) {
      margin: 0 auto;
    }

    @include media-query($width-medium) {
      margin: 0 5%;
    }

    @include media-query($width-large) {
      margin: 0 auto;
      max-width: 90%;
    }
  }

  &__item {
    background: #fff;
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: 3rem;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    @include media-query($width-small) {
      border-right: 4px solid #000;
      height: 4rem;
    }
    &--resume {
      @include media-query($width-medium) {
        display: none;
      }
    }
  }

  &__items {
    align-self: flex-end;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;

    @include media-query($width-small) {
      top: 0.5rem;
    }

    @include media-query($width-medium) {
      top: 3rem;
    }
  }

  &__link {
    font-size: 1.2rem;
    padding: 0 0.5rem;
    @include media-query($width-medium) {
      padding: 0 1rem;
    }
  }
}

.logo {
  background: #fff;
  border: 4px solid #000;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  height: 3rem;
  justify-content: center;
  position: relative;
  width: 3rem;
  z-index: 2;

  @include media-query($width-small) {
    height: 5rem;
    width: 5rem;
  }

  @include media-query($width-medium) {
    height: 10rem;
    width: 10rem;
  }

  &__title {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;

    @include media-query($width-small) {
      font-size: 3rem;
    }

    @include media-query($width-medium) {
      font-size: 6rem;
    }
  }
}
