.post {
  &__section {
    display: grid;

    @include media-query($width-medium) {
      column-gap: 4rem;
      grid-template-columns: calc(65% - 2rem) calc(35% - 2rem);
    }
  }

  &__header {
    padding-bottom: 2rem;
  }

  &__time {
    margin-bottom: 0;
  }

  &__article {
    margin: 3rem auto 0;
    max-width: calc(100% - 2rem);
    @include media-query($width-small) {
      margin: 0 auto;
      max-width: 80%;
    }
  }

  &__content {
    max-width: calc(100vw - 2rem);
  }

  &--headline {
    padding-bottom: 1rem;
    @include media-query($width-small) {
      padding-bottom: 0;
    }
    time {
      margin-top: 0.5rem;
    }
  }

  &--full {
    margin: 4rem auto;

    &:first-of-type {
      @include media-query($width-small) {
        margin-top: 8rem;
      }
    }

    p {
      margin-bottom: 2.5rem;

      &:first-line {
        font-weight: 500;
      }

      @include media-query($width-small) {
        max-width: $width-default;
      }
    }

    hr {
      @include media-query($width-small) {
        margin-top: 3rem;
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    img + hr {
      margin-top: 4rem;
    }
  }

  &__title {
    &--full,
    &--headline {
      margin-bottom: 0;
    }

    &--full {
      font-size: 1.5rem;

      @include media-query($width-small) {
        margin-bottom: $spacing-unit-small;
      }
    }

    &--headline {
      font-family: $font-family-default;
      font-size: 1rem;
    }
  }
}

.posts {
  &--basic {
    display: grid;
    @include media-query($width-small) {
      grid-template-columns: calc(50% - 1rem) calc(50% - 1rem);
      grid-gap: 2rem;
    }
  }

  &--squares {
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 2rem);

    @include media-query($width-small) {
      display: grid;
      grid-column-gap: 2rem;
      grid-template-columns: calc(50% - 1rem) calc(50% - 1rem);
      max-width: none;
    }

    @include media-query($width-medium) {
      grid-template-columns: calc(33.3% - 1rem) calc(33.3% - 1rem) calc(33.3% - 1rem);
      max-width: none;
    }

    h2 {
      font-size: 1.2rem;
      line-height: 1.6;
    }
  }
}
