.post--full {
  margin: 4rem auto;
  &:first-of-type {
    @include media-query($width-small) {
      margin-top: 8rem;
    }
  }
  p {
    margin-bottom: 2.5rem;
    &:first-line {
      font-weight: 500;
    }
    @include media-query($width-small) {
      max-width: $width-default;
    }
  }
  hr {
    @include media-query($width-small) {
      margin-top: 3rem;
    }
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  img + hr {
    margin-top: 4rem;
  }
}
.post--headline {
  @include media-query($width-small) {
    height: 12rem;
    margin: 1rem;
    position: relative;
    width: calc(33.3% - 2rem);
  }
  header {
    @include media-query($width-small) {
      margin-top: 0;
      @include vertical-align(absolute);
    }
  }
  hr {
    @include media-query($width-small) {
      display: none;
    }
  }
  time {
    @include media-query($width-small) {
      margin-bottom: 0;
    }
  }
}
.post__title {
  &--full,
  &--headline {
    margin-bottom: 0;
  }
  &--full {
    font-size: 1.5rem;
    @include media-query($width-small) {
      margin-bottom: $spacing-unit-small;
    }
  }
  &--headline {
    font-family: $font-family-default;
    font-size: 1rem;
  }
}
.row {
  @include media-query($width-small) {
    border-top: 1px solid lightgray;
    display: flex;
    margin: 0 auto;
    max-width: 50rem;
  }
  &:first-of-type {
    @include media-query($width-small) {
      margin-top: 4rem;
    }
  }
  &:last-of-type {
    @include media-query($width-small) {
      border-bottom: 1px solid lightgray;
    }
  }
}
