.share {
  padding: 1rem 0;

  &__title {
    background: #fff;
    border: 1px solid #999;
    display: inline-block;
    font-size: 0.65rem;
    left: 2rem;
    letter-spacing: 0.15rem;
    margin: 0;
    padding: 0.5rem 1rem;
    position: relative;
    text-transform: uppercase;
    top: 1rem;

    .js-is-darkmode & {
      background-color: #162447;
    }
  }

  &__nav {
    border-top: 1px solid #999;
    padding: 2rem;
  }

  &__button,
  &__link {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 0.75rem 0 0;
  }

  &__button {
    background: 0;
    border: 0;
    color: #0000ff;
    font-family: $font-family-default;
    margin: 0;

    .js-is-darkmode & {
      color: #e43f5a;
    }

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &__link {
    &:last-of-type {
      padding-right: 0;
    }
  }
}
