// social svg
$svg-unit: $spacing-unit * 42 / 16;

.share {
  &__nav,
  &__link {
    overflow: hidden;
  }
  &__nav {
    margin: 0 auto;
    padding: $spacing-unit 0;
    text-align: center;
    &:before {
      content: 'Share this';
      display: block;
      font-family: $font-family-headline;
      font-size: 1.5rem;
      padding-bottom: .5rem;
    }
  }
  &__link {
    display: inline-block;
    height: 3rem;
    position: relative;
    width: 3rem;
  }
  svg {
    fill: $text-color;
  }
}
