.share-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  &__button {
    background: 0;
    border: 0;
    color: #52c30e;
    margin: 0;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &__button,
  &__link {
    font-family: sans-serif;
    font-size: 0.7rem;
    text-transform: uppercase;
  }

  &--blog-bottom,
  &--blog-top {
    .share-list__button,
    .share-list__link {
      padding: 1rem;
    }
  }

  &--blog-bottom {
    border-top: 1px solid $color-grey-lightest;
    margin: 2rem auto 0;
    max-width: calc(100% - 4rem);
    @include media-query($width-medium) {
      max-width: 100%;
    }
    .post--article {
      border-bottom: 1px solid $color-grey-lightest;
    }
  }
}
