.color-grid {
  display: grid;
  grid-template-columns: calc(50% - 0.5rem) calc(50% - 0.5rem);
  column-gap: 1rem;
  font-weight: bold;
  margin: 1rem auto;
  max-width: calc(100% - 2rem);
  row-gap: 1em;

  @include media-query($width-medium) {
    grid-template-columns: calc(25% - 0.75rem) calc(25% - 0.75rem) calc(25% - 0.75rem) calc(25% - 0.75rem);
    max-width: $width-medium;
  }
}

.color-block {
  padding: 3rem 0;
  text-align: center;

  &--white {
    background-color: $color-white;
    border: 1px solid $color-black;
    color: $color-black;
  }

  &--yellow {
    background-color: $color-yellow;
    border: 1px solid $color-black;
    color: $color-black;
  }

  &--gold {
    background-color: $color-gold;
    border: 1px solid $color-black;
    color: $color-black;
  }

  &--red {
    background-color: $color-red;
    border: 1px solid $color-yellow;
    color: $color-yellow;
  }

  &--navy {
    background-color: $color-navy;
    border: 1px solid $color-yellow;
    color: $color-yellow;
  }

  &--black {
    background-color: $color-black;
    border: 1px solid $color-yellow;
    color: $color-yellow;
  }
}

.font {
  &--white {
    color: $color-white;
  }

  &--yellow {
    color: $color-yellow;
  }

  &--gold {
    color: $color-gold;
  }

  &--red {
    color: $color-red;
  }

  &--navy {
    color: $color-navy;
  }

  &--black {
    color: $color-black;
  }
}
