// fonts
$font-family-default: 'Playfair Display',
serif;
$font-family-nav: 'Oswald', serif;
$font-family-headline: 'Playfair Display',
serif;
$font-size-default: 1rem !default;
// colors
$color-grey: #828282;
$color-grey-light: #aaa;
$color-grey-lighter: #ccc;
$color-grey-lightest: #f2f2f2;
$color-yellow-light: #f9f7e2;
$color-pink: #f7e7f6;
$conversion-number: 16;
// spacing
$spacing-unit: 1rem !default;
$spacing-unit-small: .5rem !default;
$spacing-unit-large: 2rem;
// queries
$width-default: 35rem !default;
$width-reader: $width-default;
$width-large: 75rem !default;
$width-medium: 62rem !default;
$width-small: 48rem !default;
$calc-max-width: calc(#{$width-default} - 2rem);
