// fonts
$font-family-default:  'Rokkitt', serif;
$font-family-nav: 'Oswald', sans-serif;
$font-family-headline: 'Oswald', sans-serif;
$font-size-default: 1rem !default;
// colors
$color-grey: #828282;
$color-grey-light: #aaa;
$color-grey-lighter: #ccc;
$color-grey-lightest: #f2f2f2;
$color-yellow-light: #ffffcc;
$conversion-number: 16;
// spacing
$spacing-unit: 1rem !default;
$spacing-unit-small: .5rem !default;
$spacing-unit-large: 2rem;
// queries
$width-default: 35rem !default;
$width-reader: $width-default;
$width-large: $screen-lg;
$width-medium: $screen-md;
$width-small: $screen-sm;
$calc-max-width: calc(#{$width-default} - 2rem);
