// fonts
$font-family-default: 'Roboto', serif;
$font-family-headline: serif;
$font-size-default: 1rem !default;

// spacing
$spacing-unit: 1rem !default;
$spacing-unit-small: 0.5rem !default;
$spacing-unit-large: 2rem;

// queries
$width-default: 35rem !default;
$width-medium: 62rem !default;
$width-small: 48rem !default;
$width-x-small: 30rem !default;
