<section class="cv__section">
	<div class="cv__section-content">
		<h2 class="cv__section-title">Education</h2>
		<div class="cv__sub-sections">

			<div class="cv__sub-section">
				{% capture ilia %}{% include md/cv/education/ilia.md %}{% endcapture %}{{ ilia | markdownify }}
			</div>

			<div class="cv__sub-section">
				{% capture uwm %}{% include md/cv/education/uwm.md %}{% endcapture %}{{ uwm | markdownify }}
			</div>


			<div class="cv__sub-section">
				{% capture au %}{% include md/cv/education/au.md %}{% endcapture %}{{ au | markdownify }}
			</div>

			<div class="cv__sub-section">
				{% capture cia %}{% include md/cv/education/cia.md %}{% endcapture %}{{ cia | markdownify }}
			</div>

		</div>
	</div>
</section>