.site-header {
  border-bottom: 1px solid darken($background-color-default, 10%); //$color-grey-light;
	overflow: hidden;
	position: relative;
	&__link {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		&--logo {
			border: 3px dotted black;
			display: block;
			float: left;
			height: $brand-unit-circle;
			opacity: 1;
			overflow: hidden;
			margin: $spacing-unit;
			padding: .5rem;
			width: $brand-unit-circle;
			top: $spacing-unit;
			@include prefix(border-radius, 100%, webkit ms moz);
			@include media-query($width-default) {
				height: $brand-unit-circle-large;
		    width: $brand-unit-circle-large;
		  }
		}
	}
	&__site-title {
		position: absolute;
		left: -500px;
	}
	&__title {
		display: none;
		font-family: $font-family-serif;
		font-size: $font-size-default * .8;
		font-style: italic;
		font-weight: normal;
		left: 102px;
		max-width: calc(50% - 102px);
		margin: 0;
		padding-right: $spacing-unit;
		position: absolute;
		top: 50%;
		@include prefix(transform, translateY(-50%), webkit ms moz);
		@include media-query($width-500) {
			display: block;
		}
		@include media-query($width-default) {
			font-size: $font-size-default * 1.2;
		}
	}
	&__navigation {
		display: table;
		margin-top: $spacing-unit;
		max-width: 50%;
		padding-left: $spacing-unit;
		position: absolute;
		right: 0;
	}
	&__items,
	&__posts {
		display: table-cell;
		position: relative;
		vertical-align: middle;
		@include micro-clearfix;
		&:before {
			background-color: black;
			bottom: 0;
			left: 0;
			color: white;
			display: block;
			font-size: 11px;
			font-weight: bold;
			position: absolute;
			text-align: center;
			text-transform: uppercase;
			width: 65px;
			@include prefix(transform, rotate(-90deg), webkit ms moz);
			@include prefix(transform-origin, left bottom 0, webkit ms moz);
		}
	}
	&__items {
		padding: ($spacing-unit / 4) ($spacing-unit * 1.75) ($spacing-unit / 4)  ($spacing-unit * .75);
		font-size: $font-size-default * .8;
		list-style-type: none;
		&:first-of-type {
			margin-left: $spacing-unit;
		}
		&:last-of-type {
			padding-right: ($spacing-unit * .75);
			@include media-query($width-500) {
				padding-right: ($spacing-unit * 1.75);
			}
		}
	}
	&__posts {
		display: none;
		font-size: $font-size-default;
		@include media-query($width-900) {
			display: table-cell;
		}
		&:before {
			content: 'recent';
		}
	}
	&__post {
		float: left;
		max-width: 200px;
		&:first-of-type {
			padding-right: $spacing-unit;
		}
		&:last-of-type {
			border-left: 2px solid $color-grey-light;
			display: none;
			@include media-query($width-1300) {
				display: block;
			}
			.site-header__picture {
				margin-left: ($spacing-unit / 2);
			}
		}
	}
	&__image {
		float: left;
		margin-right: ($spacing-unit / 2);
		max-height: 65px;
	}
	&__title--post {
		font-size: $font-size-default * .8;
		font-weight: normal;
		margin: 0;
		padding-left: $spacing-unit;
	}
	&__items--social:before {
		content: 'connect';
	}
	&__items--pages:before {
		content: 'pages';
	}
	a {
		color: black;
	}
}