<article class="post">
	<header class="post__header">
		<h2 class="post__title">
			<a class="post__link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
		</h2>
	</header>
{% if post.featured_image %}
	<figure class="post__figure">
		<a class="post__link" href="{{ post.url | prepend: site.baseurl }}">
			<img class="post__image" src="{{ post.featured_image }}"{% if post.featured_image_title %} title="{{ post.featured_image_title }}"{% endif %} />
		</a>
		{% if post.featured_image_title %}
			<figcaption class="post__figcaption">{{ post.featured_image_title }}</figcaption>
		{% endif %}
	</figure>
{% endif %}
	<div class="post__content">
		<time class="post__date">{{ post.date | date: "%b %-d, %Y" }}</time>
		<p class="post__description">
			<a class="post__link" href="{{ post.url | prepend: site.baseurl }}">{{ post.excerpt | strip_html }}</a>
		</p>
	</div>
</article>