<ol class="site-nav__content">
  <li class="site-nav__items">
  	{% for post in site.posts limit: 5 %}
		<article class="site-nav__item">
			<a class="site-nav__link" href="{{ post.url | prepend: site.baseurl }}">
			{% if post.featured_image %}
        <img class="site-nav__image" src="{{ post.featured_image }}" alt="{{ post.title }}">
			{% endif %}
				<h3 class="site-nav__title--post">
				{{ post.title | truncate: 50, '&hellip;' }}
				</h3>
			</a>
		</article>
  	{% endfor %}
  </li>
</ol>