<nav class="share__nav">
  <a class="share__link" href="mailto:?body=https://jeffry.in{{ post.url }}&subject={{ post.title }}">
    <svg name="mail-svg" viewbox="0 0 512 512">
      <use class="social-svg" xlink:href="#mail-svg" x="0" y="0" />
    </svg>
  </a>
  <a class="share__link" href="//twitter.com/share?url=https://jeffry.in{{ post.url }}&text={{ post.title }}&via={{ site.twitter_username }}" target="_blank">
    <svg name="twitter-svg" viewBox="0 0 512 512">
      <use class="social-svg" xlink:href="#twitter-svg" x="0" y="0" />
    </svg>
  </a>
  <a class="share__link" href="//www.tumblr.com/widgets/share/tool?canonicalUrl=https://jeffry.in{{ post.url }}&title={{ post.title }}" target="_blank">
    <svg name="tumblr-svg" viewBox="0 0 512 512">
      <use class="social-svg" xlink:href="#tumblr-svg" x="0" y="0" />
    </svg>
  </a>
  <a class="share__link" href="https://www.facebook.com/dialog/share?app_id=1725684487747390&display=page&href=https://jeffry.in{{ post.url }}" target="_blank">
    <svg name="facebook-svg" viewBox="0 0 512 512">
      <use class="social-svg" xlink:href="#facebook-svg" x="0" y="0" />
    </svg>
  </a>
  <a class="share__link" href="https://reddit.com/submit?url=http://jeffry.in{{ post.url }}&title={{ post.title }}" target="_blank">
    <svg name="reddit-svg" viewBox="0 0 1150 1150">
      <use class="social-svg" xlink:href="#reddit-svg" x="0" y="0" />
    </svg>
  </a>
</nav>
