{% for post in site.posts limit: include.postcount offset: include.postoffset %}
<article class="post post--single">
{% if post.featured_image %}
  <figure class="post__figure">
    <a class="post__link" href="{{ post.url | prepend: site.baseurl }}">
      <img class="post__image" src="{{post.featured_image}}" alt="{{post.title}}" />
    </a>
  </figure>
{% endif %}
  <h2 class="post__title">
    <a class="post__link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  </h2>
</article>
{% endfor %}
