{% for post in site.categories.second limit: 1 %}
  <article class="featured-post featured-post--second">
    {% if post.featured_image %}
        <div class="picture featured-post__picture">
           <a class="featured-post__post-link" href="{{ post.url | prepend: site.baseurl }}">
            <picture>
              <img class="featured-post__image image--grey" src="{{ post.featured_image }}" alt="{{ post.title }}">
            </picture>
          </a>
        </div>
        <div class="featured-post__content">
          <header class="featured-post__header">
            <h2 class="featured-post__title">
              <a class="featured-post__post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | truncatewords: 10 }}</a>
            </h2>
            <span class="featured-post__post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          </header>
          <p class="featured-post__excerpt">
            <a class="featured-post__post-link" href="{{ post.url | prepend: site.baseurl }}">
            {{ post.excerpt | strip_html | truncatewords: 12 }}</a>
          </p>
        </div>
    {% else %}
        <header class="featured-post__header">
          <h2 class="featured-post__title">
            <a class="featured-post__post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <span class="featured-post__post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        </header>
        <p class="featured-post__excerpt">
           {{ post.excerpt | strip_html }}
           <a class="featured-post__post-link featured-post__post-link--read-more" href="{{ post.url | prepend: site.baseurl }}">Read More</a>
        </p>
    {% endif %}
  </article>
{% endfor %}