<section class="post-list post-list--1column">
	<div class="post-list__container" data-post-list-title="{{ include.postListTitle }}">
		{% for post in site.posts limit: include.postnumber %}
		<article class="post-list__post post-list__post--{{ forloop.index }}">
			<h2 class="post-list__post-title">
				<a class="post-list__post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</h2>
			<span class="post-list__post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
			<p class="first-paragraph"><a class="post-list__post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.excerpt | strip_html }}</a></p>
		</article>
		{% endfor %}
	</div>
</section>