{% for post in site.categories.third limit: 1 %}
    <article class="post-list__post post-list__post--single-post {% if post.type == 'code' %}post-list__post--code{% endif %}">
      {% if post.featured_image %}
        <figure class="featured__image featured__image{{ post.featured_image_type ? '--' + post.featured_image_type : '' }}">
          <a class="post-list__post-link" href="{{ post.url | prepend: site.baseurl }}">
            {% include media/picture.html pictureClass="picture--square" imageSM=post.featured_image %}
          </a>
        </figure>
      {% endif %}
      <div class="post-list__content">
        <h2 class="post-list__post-title">
          <a class="post-list__post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </div>
    </article>
  {% endfor %}