.post {
	&__content {
		.post--feature-image-aside & {
			@extend %centerblock;
			@extend %contentReaderMaxWidth;
		}
	}
	p {
		@extend %centerblock;
		@extend %contentWidthMargins;
		@extend %contentReaderMaxWidth;
		line-height: 1.75;
	}
	h2,
	h3 {
		border-bottom: 1px solid $color-grey-lightest;
		padding-bottom: $spacing-unit;
	}
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;	
		}
	}
}