.content {
	h2,
	h3 {
    font-family: sans-serif;
    font-size: .8rem;
    font-weight: bold;
    letter-spacing: .2rem;
		margin: 3rem auto;
    max-width: calc(100% - #{$spacing-unit-large});
	}
}
.highlight {
	margin: $spacing-unit auto;
}
.first-paragraph {
  border-bottom: 1px solid lightgray;
  padding: 1.5rem 0;
  &:first-letter {
    font-size: 3.75rem;
    font-weight: bold;
    line-height: 1;
    margin-right: .5rem;
  }
}
.update {
  background-color: $color-grey-lightest;
  border: #eee;
  padding: 1rem;
  @include media-query($width-small) {
    border-radius: .25rem;
  }
  &:before {
    content: 'update';
    display: block;
    font-family: $font-family-headline;
    font-weight: 500;
    text-shadow: 0 1px 0 white;
    text-transform: uppercase;
  }
  .content & {
    max-width: 100vw;
    @include media-query($width-small) {
      max-width: $width-reader + 2;
    }
  }
}
