.post {
	&__figure {
		.post--feature-image-aside & {
			background-color: white;
			float: left;
			margin: 0;
			padding: 0 $spacing-unit-medium $spacing-unit $spacing-unit-medium;
			width: 50%;
			@include media-query($width-small) {
				margin-left: -10%;
				width: 40%;
			}
			@include media-query($width-medium) {
				margin-left: -25%;
				width: 50%;
			}
		}
	}
	&__image {
		.post--feature-image-aside & {
			float: right;
		}
	}
}