.post {
	&__figure {
		.post--feature-image-aside & {
			background-color: white;
			margin: 0 1rem;
      position: relative;
      @include media-query($width-small) {
        margin: 0;
      }
      &:after {
        border: 1px solid black;
        content: ' ';
        display: block;
        top: calc(50% - 2px);
        position: absolute;
        width: 100%;
      }
		}
	}
	&__image {
		.post--feature-image-aside & {
			border-radius: 100%;
      margin: 1rem auto;
			max-width: 3rem;
      position: relative;
      z-index: 1;
		}
    &--featured {
      max-width: 100%;
    }
	}
}
