.post {
	&__header {
		margin-top: $spacing-unit;
	}
	&__title,
	&__meta {
		max-width: none;
	}
	&__title {
		font-size: $font-size-large;
		@include media-query($width-small) {
			font-size: $font-size-largest;
			max-width: $width-reader;
		}
	}
	&__meta {
		font-weight: bold;
		font-size: $font-size-small;
    letter-spacing: .1rem;
    text-transform: uppercase;
	}
}
