.post {
	&__header {
		margin-top: $spacing-unit;
    @include media-query($width-small) {
      margin-top: 8.5rem;
    }
	}
	&__title,
	&__meta {

		max-width: none;
	}
	&__title {
		font-size: $font-size-large;
		@include media-query($width-small) {
			font-size: $font-size-largest;
			max-width: $width-reader;
		}
	}
	&__meta {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    font-family: $font-family-headline;
		font-size: $font-size-small;
    margin: $spacing-unit 0;
    padding: $spacing-unit 0;
    @include media-query($width-small) {
      margin: 2rem 0 4rem;
    }
	}
}
