.post {
	&__header {
		margin-top: $spacing-unit;
	}
	&__title,
	&__meta {
		max-width: none;
		text-align: center;
	}
	&__title {
		font-size: $font-size-large;
		@include media-query($width-small) {
			font-size: $font-size-largest;
			max-width: $width-reader;
		}
	}
	&__meta {
		font-family: serif;
		font-weight: bold;
		font-size: $font-size-small;
	}
}
