.post {
  &__share,
  &__link--share {
    overflow: hidden;
  }
  &__share {
    margin: 0;
    padding: $spacing-unit 0 $spacing-unit-large;
    text-align: center;
    &:before {
      content: 'Share this post';
      display: block;
      font-size: $font-size-default;
      font-style: italic;
      margin-bottom: $spacing-unit;
    }
  }
  &__link--share {
    display: block;
    height: $svg-unit;
    position: relative;
    width: $svg-unit;
    .post__share & {
      display: inline-block;
    }
  }
  &__text {
    position: absolute;
    right: -#{$spacing-unit * 100 / 16};
  }
  svg {
    fill: $text-color;
  }
}