<header class="post__header">
	{% if page.layout == 'post' %}
  	<h1 class="post__title">{{ page.title }}</h1>
  {% else %}
  	<h2 class="post__title"><a class="post__link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
  {% endif %}
  <div class="post__meta">
    <time class="post__date">{% if page.date %}{{ page.date | date: "%b %-d, %Y" }}{% else %}{{ post.date | date: "%b %-d, %Y" }}{% endif %}</time>
    <div class="share--inline">{% include post/share.html %}</div>
  </div>
</header>
