<nav class="post__share">
  <a class="post__link post__link--share" href="mailto:?body={{site.url}}{% if page.url %}{{ page.url }}{% else %}{{ post.url }}{% endif %}&subject={% if page.title %}{{ page.title }}{% else %}{{ post.title }}{% endif %}" target="_blank">
    <svg name="mail-svg" viewbox="0 0 512 512">
      <use class="social-svg" xlink:href="#mail-svg" x="0" y="0" />
    </svg>
  </a>
  <a class="post__link post__link--share" href="//twitter.com/share?url={{site.url}}{% if page.url %}{{ page.url }}{% else %}{{ post.url }}{% endif %}&text={% if page.title %}{{ page.title }}{% else %}{{ post.title }}{% endif %}&via=@{{ site.twitter_username }}{% if page.shareHashTag or post.shareHashTag %}&hashtags={% if page.shareHashTag %}{{ page.shareHashTag }}{%elsif post.shareHashTag %}{{ page.shareHashTag }}{% endif %}{% endif %}" target="_blank">
    <svg name="twitter-svg" viewBox="0 0 512 512">
      <use class="social-svg" xlink:href="#twitter-svg" x="0" y="0" />
    </svg>
  </a>
  <a class="post__link post__link--share" href="//www.tumblr.com/widgets/share/tool?canonicalUrl={{site.url}}{% if page.url %}{{ page.url }}{% else %}{{ post.url }}{% endif %}&title={% if page.title %}{{ page.title }}{% else %}{{ post.title }}{% endif %}" target="_blank">
    <svg name="tumblr-svg" viewBox="0 0 512 512">
      <use class="social-svg" xlink:href="#tumblr-svg" x="0" y="0" />
    </svg>
  </a>
  <a class="post__link post__link--share" href="//www.facebook.com/sharer.php?u=http:{{site.url}}{% if page.url %}{{ page.url }}{% else %}{{ post.url }}{% endif %}">
    <svg name="facebook-svg" viewBox="0 0 512 512">
      <use class="social-svg" xlink:href="#facebook-svg" x="0" y="0" />
    </svg>
  </a>
  <a class="post__link post__link--share" href="{% if page.url %}{{ page.url }}{% else %}{{ post.url }}{% endif %}" target="_blank">
    <svg name="link-svg" viewBox="0 0 512 512">
      <use class="social-svg" xlink:href="#link-svg" x="0" y="0" />
    </svg>
  </a>
</nav>