<nav class="share__nav" itemscope itemtype="http://schema.org/Organization">
  <a class="share__link" href="//twitter.com/share?url=https://jeffry.in{{ page.url }}&text={{ page.title }}&via={{ site.twitter_username }}" itemprop="url">
    <svg name="twitter-svg" viewBox="0 0 512 512">
      <use class="social-svg" xlink:href="#twitter-svg" x="0" y="0" />
    </svg>
  </a>
  <a class="share__link" href="https://reddit.com/submit?url=http://jeffry.in{{ page.url }}&title={{ page.title }}" itemprop="url">
    <svg name="reddit-svg" viewBox="0 0 1150 1150">
      <use class="social-svg" xlink:href="#reddit-svg" x="0" y="0" />
    </svg>
  </a>
</nav>
