.featured-post--second {
	border: $spacing-unit solid black;
	clear: both;
	margin: #{$spacing-unit * 2} $spacing-unit;
	padding: $spacing-unit * 2;
	position: relative;
	@include micro-clearfix;
	@include media-query($width-default) {
		margin: #{$spacing-unit * 2} 5% 0;
		padding: $spacing-unit * 4;
	}
	.featured-post__picture {
		border-top: none;
		margin-top: 0;
		@include media-query($width-default) {
			border-right:  1px solid $color-grey-light;
			float: left;
			width: calc(50% - #{$spacing-unit * 2});
			margin-right: $spacing-unit * 2;
			margin-bottom: $spacing-unit / 5;
			max-height: 350px; // this is static & should be updated
			overflow: hidden;
			padding: 0 #{$spacing-unit * 3} 0 0;
		}
	}
	.featured-post__image {
		width: 100%;
	}
	.featured-post__content {
		margin-top: $spacing-unit * 2;
		max-width: none;
		text-align: left;
		@include media-query($width-default) {
			margin-top: 0;
			position: absolute;
			right: $spacing-unit * 4;
			top: 50%;
			width: calc(50% - #{$spacing-unit * 8});
			@include prefix(transform, translateY(-50%), webkit ms moz);
		}
	}
	.featured-post__title,
	.featured-post__excerpt {
		max-width: none;
		margin: 0;
	}
	.featured-post__title {
		font-family: $font-family-default;
		text-align: left;
		text-shadow: none;
		@include media-query($width-default) {
			display: table;
			padding-top: $spacing-unit * 2;
		}
	}
	.featured-post__excerpt {
		font-family: $font-family-serif;
	}
	.featured-post__post-meta {
		display: table;
		font-size: $font-size-default * 1.2;
		font-weight: bold;
		@include media-query($width-default) {
			border-bottom: 1px solid $color-grey-light;
			border-top: 2px solid $color-grey-light;
			display: block;
			margin: #{$spacing-unit / 2} 0;
			padding: #{$spacing-unit / 2} 0;
		}
		@include media-query(90rem) {
			margin-top: $spacing-unit * 5;
		}
	}
	.featured-post__post-link {
		color: black;
		.featured-post--read-more {
			font-family: $font-family-serif;
			font-style: italic;
			font-weight: bold;
			margin-top: $spacing-unit;
		}
	}
}