.has-width-container {
	.post__content {
		max-width: $width-default;
	}
}
.has-special-image-widths {
	.post__content {
		.figure {
			&--aside {
				max-width: 300px;
				img,
				picture {
					max-width: 300px;
				}
			}
		}
	}
}
.clear-both {
	clear: both;
}