---
layout: page
---

<section class="posts posts--column">
  <header class="header--category">
    <figure class="header__emoji">{{page.emoji}}</figure>
    <h1 class="header__title">{{page.title}}</h1>
    <p class="header__description">{{page.description}}</p>
  </header>
  <div class="posts__container">
   {% for post in site.categories[page.title] %}
    {% capture result %}{{ forloop.index0 | modulo: 3 }}{% endcapture %}
    {% if forloop.first == true or result == '0' %}
    <div class="row">
    {% endif %}
    {% include posts/post_headline.html %}
    {% if forloop.last == true or result == '2' %}
    </div>
    {% endif %}
  {% endfor %}
  </div>
</section>
