<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }} - Jeffry.in</title>
  <!-- todo
  canonical, meta description section, og stuff, itemprop, publisher, site verification
  end todo -->
  <meta name="viewport" content="width=device-width">
  <link href="{{ site.url }}/assets/favicon.ico" rel="icon" />
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <!-- this is a semantic framework -->
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.12.0/css/semantic.min.css" />
  <!-- some plugins to get going -->
  <link href="/css/jeffry.in.slider.css" rel='stylesheet' type='text/css' />
  <!-- some fonts -->
  <link href='http://fonts.googleapis.com/css?family=Lobster|Raleway:300,500,700' rel='stylesheet' type='text/css'>
  <!-- custom -->
  <link rel="stylesheet" href="/css/jeffry.in.css">
</head>
<body class="Grid {{ page.unique }}">
  <!--<a class="logo" href="..">
    <div class="boxed-up">
        <span class="j">J</span>
        <span class="e">e</span>
        <span class="f">f</span>
        <span class="f2">f</span>
        <span class="r">r</span>
        <span class="y">y</span>
        <span class="dot">.</span>
        <span class="i">i</span>
        <span class="n">n</span>

    </div>
  </a>-->
  <div class="ui large vertical inverted labeled icon sidebar menu" id="menu">

    <a class="menu item centered hide"><b><i class="close icon"></i> Close Menu</b></a>
  
    <div class="item centered">
      <b><i class="book icon"></i> Pages</b>
      <div class="menu pages centered">
        <a class="item" href="..">Home</a>
        <a class="item" href="../about/">About</a>
        <a class="item" href="../resume/">Resume</a>
      </div>
    </div>
    <div class="item centered">
      <b><i class="pin icon"></i> Posts</b>
      <div class="menu posts centered">
        {% for post in site.posts %}
        <a class="item" href="{{ post.url }}">{{ post.title }}</a>
        {% endfor %}
      </div>
    </div>
     <div class="item centered">
      <div class="menu centered">
        <a href="mailto:jjwainwright2@gmail.com?Subject=From%20your%20webpage" target="_top"><i class="mail icon"></i></a>
        <a href="https://github.com/yowainwright"><i class="github icon"></i></a>
        <a href="https://twitter.com/jjwainwright"><i class="twitter icon"></i></a>
        <a href="https://dribbble.com/jjwainwright"><i class="dribbble icon"></i></a>
        <a href="https://instagram.com/jjwainwright"><i class="instagram icon"></i></a>
        <a href="https://dribbble.com/jjwainwright"><i class="facebook icon"></i></a>
      </div>
    </div>
  </div>
  <div id="leftButton" class="ui black large launch right attached button">
    <i class="icon list layout"></i>
  </div>
  <div class="masthead segment">
    <div class="site ui page grid">
      <div class="one column center aligned row">
        <div class="column">
          <div class="header" id="top">
            <h1 class="ui header">{{ page.title }}</h1>

          </div>
        </div>
      </div> 
    </div>
  </div>

  {{ content }}

   <div class="ui page stackable grid main footer-mail">
      <div class="one column center aligned row">
        <div class="column">
          <p class="centered">
              <a href="mailto:jjwainwright2@gmail.com?Subject=From%20your%20webpage" target="_top"><i class="mail outline icon layout"></i><span class="email-me">emial me.</span></a>
          </p>
        </div>
      </div>
  </div>
  <div id="footerWrap">
    <div class="ui page stackable grid footer footer-top">

      <div class="one column center aligned row">
        <div class="contact column">
          <p class="centered">
          My goal is to step in the footsteps of great people long enough to make the path more clear for those to come.
          <br>
          <div id="showSocial">
            <div class="mini ui icon button circular transparent">
              <i class="heart icon layout showSocial"></i>
            </div>
            <span class="socialWrap slide" style="display:none">
               <a href="https://github.com/yowainwright"><i class="github icon"></i></a>
               <a href="https://twitter.com/jjwainwright"><i class="twitter icon"></i></a>
               <a href="https://dribbble.com/jjwainwright"><i class="dribbble icon"></i></a>
               <a href="https://instagram.com/jjwainwright"><i class="instagram icon"></i></a>
               <a href="https://dribbble.com/jjwainwright"><i class="facebook icon"></i></a>
            </span>   
            </div>     
          </p>
        </div>
      </div>
</div>
<div class="ui page stackable grid footer footer-bottom">

      <div class="one column aligned row">
        <div class="column">
          <p class="centered">
          Jeffry Wainwright in <span id="year"></span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.12.0/javascript/semantic.min.js"></script>
  <!-- some plugins -->
  <script src="http://cdn.jsdelivr.net/jquery.glide/1.0.6/jquery.glide.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.4/waypoints.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.4/waypoints-sticky.min.js"></script>
  <!-- custom -->
  <script src="/scripts/scripts.js"></script>
</body>
</html>
