---
layout: default
---

<main class="post{% if page.note %} post--{{page.note}}{% endif %}">
  <article class="{% if type.page %}page{% else %}post{% endif %}">
    {% include post/header.html %}
    {% if page.featured_image %}
    {% if page.note != 'no-featured-image' %}
    {% if page.note != 'feature-image-aside' %}
      {% include post/figure.html %}
    {% endif %}
    {% endif %}
    {% endif %}
    <div class="post__content">
    {% if page.featured_image and page.note == 'feature-image-aside' %}
      {% include post/figure.html %}
    {% endif %}
    {{ content }}
    </div>
    {% if type != page %}
      {% include post/share.html %}
    {% endif %}
  </article>
  {% if type != page %}
  {% include post/disqus.html %}
  {% endif %}
</main>
