---
layout: default
---

<main class="page page--post{% if page.note %} post--{{page.note}}{% endif %}" itemscope itemtype="http://schema.org/NewsArticle">
  <article class="{% if type.page %}page{% else %}post{% endif %}" itemscope itemprop="mainEntityOfPage" itemType="https://schema.org/WebPage" itemid="https://google.com/article">
    <header>
      <h1 itemprop="headline">{{ page.title }}</h1>
      {{ page.description }}
      {% if page.date %}
      <time itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
      {% endif %}
    </header>
    <div class="post__content">
    {{ content }}
    </div>
    <div class="share">
      {% include post/share.html %}
    </div>
  </article>
  {% comment %}
  <!-- {% if page.type == blank %}
  {% include post/disqus.html %}
  {% endif %} -->
  {% endcomment %}
</main>
