---
layout: default
---

<main class="post{% if page.note %} post--{{page.note}}{% endif %}">
  <article class="{% if type.page %}page{% else %}post{% endif %}">
    <header class="post__header">
      <h1 class="post__title">{{ page.title }}</h1>
      <div class="post__meta">
      {{ page.description }}
      {% if page.date %}
        <time class="post__date">{{ page.date | date: "%b %-d, %Y" }}</time>
      {% endif %}
      {% if page.type == blank %}
        <div class="share--inline">{% include post/share.html %}</div>
      {% endif %}
      </div>
    </header>
    <div class="post__content">
    {{ content }}
    </div>
    {% if page.type == blank %}
      <div class="share--main">
        {% include post/share.html %}
      </div>
    {% endif %}
  </article>
  {% if page.type == blank %}
  {% include post/disqus.html %}
  {% endif %}
</main>
