.post-list {
  &--3column {
  	display: none;
		padding: $spacing-unit;
		@include media-query(1100px) {
			border-bottom: 1px solid $color-grey-light;
			border-top: 2px solid black;
			display: flex;
			margin: #{$spacing-unit * 4} 5%;
			padding-bottom: #{$spacing-unit * 2};
			padding-top: #{$spacing-unit * 2};
		}
		.featured__image {
			overflow: hidden;
			opacity: 1;
		}
		.post-list {
			&__post {
				max-width: $width-default - 300;
				margin: $spacing-unit auto;
				padding: 0;
				position: relative;
				@include media-query($width-default) {
					&:nth-of-type(1),
					&:nth-of-type(2) {
						border-right: 1px solid $color-grey-light;
					}
					padding: $spacing-unit ($spacing-unit * 3);
					width: 33.3%;
				}
			}
			&__post-title {
				border-bottom: 1px solid $color-grey;
				font-size: $spacing-unit;
				margin-bottom: $spacing-unit;
				padding-bottom: $spacing-unit;
				@include media-query($width-default) {

				}
			}
			&__content {
				background-color: rgba(0, 0, 0, .75);
				top: 50%;
				left: $spacing-unit;
				margin: 0 auto;
				padding: $spacing-unit / 2;
				position: absolute;
				right: $spacing-unit;
				@include prefix(transform, translateY(-50%), webkit ms moz);
				@include media-query($width-default) {
					margin-left: $spacing-unit * 3;
					margin-right: $spacing-unit * 3;
					padding: $spacing-unit;
				}
				p {
					font-size: $spacing-unit * .8;
					font-family: $font-family-default;
				}
			}
			&__post-link {
				color: white;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}