.post-list__post--single-post {
	background-color: transparent;
	margin: 0;
	max-width: none;
	position: relative;
	padding: $spacing-unit;
	&.post-list__post--code {
		background-color: $color-yellow-light;
	}
	@include media-query($width-default) {
		margin: #{$spacing-unit * 4} 10%;
		padding: #{$spacing-unit * 4};
	}
	.featured__image {
		background-color: transparent;
	}
	.post-list {
		&__content {
			background-color: black;
			left: 50%;
			margin: 0;
			max-width: calc(#{$width-default} - (#{$spacing-unit} * 2));
			position: absolute;
			top: 50%;
			width: 100%;
			@include prefix(transform, translate(-50%, -50%), webkit ms moz);
		}
		&__post-title {
			font-family: $font-family-serif;
			font-size: $font-size-default * 2;
			padding: $spacing-unit;
			@include media-query($width-default) {
				font-size: $font-size-default * 4;
			}
		}
		&__post-link {
			color: white;
		}
	}
}