@use "variables";

.aside {
  position: relative;

  &__header {
    padding: 1rem 2.5rem 0;
  }

  &__meta {
    border: 1px solid #999;
    border-radius: 2rem;
    margin: 4rem auto 1rem;

    .js-is-darkmode & {
      border-color: #5B8FA8
    }

    @media screen and (min-width:variables.$width-small) {
      margin: 0;
      position: sticky;
      top: 1rem;
    }
  }

  &__title {
    font-size: 1.2rem;
    line-height: 1.8;
    max-width: calc(100% - 2rem);
    @media screen and (min-width:variables.$width-small) {
      max-width: none;
    }
  }

  &__content {
    padding: 1rem;
    @media screen and (min-width:variables.$width-small) {
      padding: 0;
    }
  }
}
