html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-default;
  line-height: 1.5;
  text-size-adjust: 100%;
  &.js-is-darkmode {
    background-color: #162447;
    color: #fff;
  }
}

h2,
ul,
ol {
  margin-bottom: $spacing-unit;
}

ul,
ol {
  margin-top: $spacing-unit;

  li > p {
    margin-bottom: 0;
  }
}

h1,
h2,
h3,
.intro__title {
  line-height: 1.3;
}

h1,
.intro__title {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 1rem;

  @media screen and (min-width:$width-small) {
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 2rem;
  }

  @media screen and (min-width:$width-medium) {
    font-size: 5rem;
  }
}

.intro__title {
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  @media screen and (min-width:$width-small) {
    font-size: 1.8rem;
  }
}

h2,
h3 {
  .content & {
    font-family: $font-family-default;
    font-size: 1.5rem;
    font-weight: 900;
    margin: 3rem auto;

    @media screen and (min-width:$width-small) {
      font-size: 2.5rem;
    }
  }
}

p,
li {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.025rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

li {
  line-height: 1.6;
  margin-bottom: $spacing-unit-small;
}

p {
  line-height: 1.8;

  li & {
    line-height: 1;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }
  & + hr {
    margin-bottom: 0;
  }
}

a {
  text-decoration: none;

  .js-is-darkmode & {
    color: #e43f5a;
  }

  &:hover {
    text-decoration-line: underline;
  }

  &:visited {
    color: #0000ff;
    .js-is-darkmode & {
      color: #e43f5a;
    }
  }

  .post__content & {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

blockquote {
  margin: 0;

  p {
    font-family: sans-serif;
    font-style: italic;
    line-height: 1.7;
    margin: 1rem 0;
    padding-left: 1.5rem;
    position: relative;
    &:before {
      color: #000;
      content: '“';
      font-size: 4rem;
      position: absolute;
      top: -2rem;
      left: -1rem;
      .js-is-darkmode & {
        color: #fff;
      }
    }

    @media screen and (min-width:$width-small) {
      line-height: 1.9;
      margin: 3rem 0;
    }
  }
}

figure {
  margin: 3rem -1.25rem;
  @media screen and (min-width:$width-small) {
    margin: 3rem 0;
  }
}

figcaption {
  max-width: calc(100vw - 2rem);
  padding: 1rem 0 0;
}

img,
iframe {
  display: block;
  max-width: 100%;
  width: 100%;
}

time {
  display: block;
  font-size: 0.6rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  margin-bottom: 1rem;
  position: relative;
  text-transform: uppercase;
}

hr {
  border: 0;
  border-top: 1px solid #999;
  margin-bottom: 0;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

ul,
ol {
  clear: both;
  padding-left: 1rem;
}

main {
  margin-left: auto;
  margin-right: auto;
}

.header__description {
  border-bottom: 1px solid #000;
  padding: 1.5rem 0;

  @media screen and (min-width:$width-small) {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

// table styles, here and below
table {
  border-collapse: collapse;
  display: block;
  max-width: calc(100vw - 2rem);
  overflow-x: scroll;

  @media screen and (min-width:$width-small) {
    display: table;
    max-width: 43.75rem; // 700px
    overflow-x: auto;
  }
}

td,
th {
  border: 1px solid #f2f2f2;
}

th {
  background: #f3f2fd;
  color: #282094;
  font-family: sans-serif;
  padding: 0.75rem 1rem;
}

td {
  padding: 0.5rem 1rem 1.5rem;
}

tr {
  &:nth-child(odd) {
    tbody & {
      background-color: #f9f9f9;
    }
  }
}

.section {
  margin: 0 auto;
  max-width: calc(100% - 2rem);
  position: relative;
  width: 100%;

  @media screen and (min-width:$width-small) {
    max-width: 80%;
  }

  @media screen and (min-width:$width-medium) {
    max-width: 70%;
  }
  &--intro {
    margin-top: 4rem;
    @media screen and (min-width:$width-small) {
      margin-top: 0;
    }
  }
}
