pre[data-line] {
  position: relative;
}

pre[class*='language-'] > code[class*='language-'] {
  position: relative;
  z-index: 1;
}

.line {
  background: #f9f9f9;
  .js-is-darkmode & {
    background: #031030;
  }
}

.post__content > pre {
  overflow-y: auto;
}

.shiki .line {
  font-size: 1rem;
  line-height: 1.8;
}

.shiki {
  border-radius: 1rem;
  display: flex;
  margin: 2rem 0;
  .js-is-darkmode & {
    background: #031030 !important;
  }
}

.shiki code {
  display: block;
  margin: 1.5rem 0;
}

code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line:before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin: 0 .5rem 0 1rem;
  display: inline-block;
  text-align: right;
  color: #777;
  .js-is-darkmode & {
    color: #b3d8e5;
  }
}
