pre[class*='language-'],
code[class*='language-'] {
  color: #ff0000;
  text-shadow: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;

  .js-is-darkmode & {
    color: #b3d8e5;
  }
}

pre[class*='language-']::selection,
code[class*='language-']::selection {
  text-shadow: none;
  background: #ffff00;
  .js-is-darkmode & {
    background: #100c04;
  }
}

@media print {
  pre[class*='language-'],
  code[class*='language-'] {
    text-shadow: none;
  }
}

pre[class*='language-'] {
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.5rem 0;
  max-width: 100%;
  display: block;
  overflow: auto;
  background: #f9f9f9;

  .js-is-darkmode & {
    background: #031030;
  }
}

:not(pre) > code[class*='language-'] {
  padding: 0.1rem 0.3rem;
  border-radius: 0.3rem;
  color: #007cf0;
  background: #f9f9f9;

  .js-is-darkmode & {
    color: #b3d8e5;
    background: #031030;
  }
}

.namespace {
  opacity: 0.7;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #bbb;

  .js-is-darkmode & {
    color: #85b7b7;
  }
}

.token.punctuation {
  color: #999999;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #e2657e;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #007cf0;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #000;
  background: #f9f9f9;

  .js-is-darkmode & {
    color: #e194b5;
    background: #031030;
  }
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #555;
  .js-is-darkmode & {
    color: #e194b5;
  }
}

.token.function {
  color: #e2657e;
}

.token.regex,
.token.important,
.token.variable {
  color: #007cf0;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

pre[data-line] {
  position: relative;
}

pre[class*='language-'] > code[class*='language-'] {
  position: relative;
  z-index: 1;
}

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1rem;
  background: #f9f9f9;
  box-shadow: inset 5px 0 0 #f9f9f9;
  z-index: 0;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;

  .js-is-darkmode & {
    background: #395bb1;
    box-shadow: inset 5px 0 0 #193b8f;
  }
}

.post__content > pre {
  overflow-y: auto;
}
