@use "variables";

.site-footer {
  padding-top: variables.$m-3xl;
  &__wrapper {
    border-top: 1px solid var(--color-border-default);
    margin: 0 auto;
    max-width: calc(100% - #{variables.$m-xl});

    @media screen and (min-width: variables.$width-x-small) {
      display: grid;
    }

    @media screen and (min-width: variables.$width-small) {
      max-width: 80%;
    }

    @media screen and (min-width: variables.$width-medium) {
      max-width: 70%;
    }

    &--main {
      padding: variables.$m-3xl 0;
      column-gap: variables.$m-md;

      @media screen and (min-width: variables.$width-small) {
        align-items: start;
        column-gap: variables.$m-2xl;
        grid-template-columns: auto variables.$m-5xl auto;
      }

      @media screen and (min-width: variables.$width-medium) {
        grid-template-columns: 17rem variables.$m-5xl auto;
      }
    }

    &--last {
      grid-template-columns: 15.5rem auto;
    }
  }

  &__address {
    font-style: normal;
  }

  &__col {
    display: grid;
    padding-bottom: variables.$m-xl;

    @media screen and (min-width: variables.$width-medium) {
      padding-bottom: 0;
    }

    &--social {
      @media screen and (max-width: variables.$width-small) {
        display: block;
      }
    }

    &--self {
      border-top: 1px solid var(--color-border-default);
      grid-column: span 2;
      padding-bottom: 0;
      padding-top: variables.$m-xl;

      @media screen and (min-width: variables.$width-small) {
        grid-column: span 3;
      }

      @media screen and (min-width: variables.$width-medium) {
        border-top: none;
        grid-column: auto;
        padding-top: 0;
      }
    }
  }

  &__title {
    font-size: variables.$m-lg;
    text-align: left;
    margin: 0 0 variables.$m-md;

    @media screen and (min-width: variables.$width-small) {
      margin-bottom: variables.$m-2xl;
    }

    &--last {
      padding: variables.$m-lg 0;
    }
  }

  &__content,
  &__figure,
  &__items {
    margin: 0;
    padding: 0;
  }

  &__figure {
    display: grid;
    grid-template-columns: 6rem auto;
    grid-gap: variables.$m-lg;
  }

  &__image {
    border: 1px solid var(--color-border-default);
    height: auto;
    width: calc(6rem - 8px);
  }

  &__caption {
    border: 0;
    font-size: 1.2rem;
    letter-spacing: 0.025rem;
    max-width: 25rem;
    padding: 0;
    width: 100%;
  }

  &__content {
    margin: 0;
    padding: 0;
  }
}

.social-footer {
  .social-list {
    margin: 0;

    &__item {
      display: inline-block;
      font-size: 1.2rem;
      margin-right: variables.$m-md;
      @media screen and (min-width: variables.$width-small) {
        display: block;
        margin-right: 0;
      }
    }
  }
}
