@use "variables";

.site-footer {
  padding-top: 4rem;
  &__wrapper {
    border-top: 1px solid #999;
    margin: 0 auto;
    max-width: calc(100% - 2rem);

    .js-is-darkmode & {
      border-color: #110e5b;
    }

    @media screen and (min-width: variables.$width-x-small) {
      display: grid;
    }

    @media screen and (min-width: variables.$width-small) {
      max-width: 80%;
    }

    @media screen and (min-width: variables.$width-medium) {
      max-width: 70%;
    }

    &--main {
      padding: 4rem 0;
      column-gap: 1rem;

      @media screen and (min-width: variables.$width-small) {
        align-items: start;
        column-gap: 3rem;
        grid-template-columns: auto 10rem auto;
      }

      @media screen and (min-width: variables.$width-medium) {
        grid-template-columns: 17rem 10rem auto;
      }
    }

    &--last {
      grid-template-columns: 15.5rem auto;
    }
  }

  &__address {
    font-style: normal;
  }

  &__col {
    display: grid;
    padding-bottom: 2rem;

    @media screen and (min-width: variables.$width-medium) {
      padding-bottom: 0;
    }

    &--self {
      border-top: 1px solid #999;
      grid-column: span 2;
      padding-bottom: 0;
      padding-top: 2rem;

      .js-is-darkmode & {
        border-color: #110e5b;
      }

      @media screen and (min-width: variables.$width-medium) {
        border-top: none;
        grid-column: auto;
        padding-top: 0;
      }
    }
  }

  &__title {
    font-size: 1.5rem;
    text-align: left;
    margin: 0 0 1rem;

    @media screen and (min-width: variables.$width-small) {
      margin-bottom: 3rem;
    }

    &--last {
      padding: 1.5rem 0;
    }
  }

  &__content,
  &__figure,
  &__items {
    margin: 0;
    padding: 0;
  }

  &__figure {
    display: grid;
    grid-template-columns: 6rem auto;
    grid-gap: 1.5rem;
  }

  &__image {
    border: 1px solid #999;
    height: auto;
    width: calc(6rem - 8px);

    .js-is-darkmode & {
      border-color: #110e5b;
    }
  }

  &__caption {
    border: 0;
    font-size: 1.2rem;
    letter-spacing: 0.025rem;
    max-width: 25rem;
    padding: 0;
    width: 100%;
  }

  &__content {
    margin: 0;
    padding: 0;
  }
}

.social-footer {
  .social-list {
    margin: 0;

    &__item {
      display: inline-block;
      font-size: 1.2rem;
      margin-right: 1rem;
      @media screen and (min-width: variables.$width-small) {
        display: block;
        margin-right: 0;
      }
    }
  }
}
