@use "variables";

.site-nav {
  background: var(--color-bg-primary);
  border-bottom: 1px solid var(--color-border-default);
  margin: 0 auto;
  padding: variables.$m-md;
  position: sticky;
  top: 0;
  z-index: 3;

  @media screen and (min-width: variables.$width-small) {
    box-shadow: none;
    padding: variables.$m-2xl 0 variables.$m-4xl;
    position: relative;
    border-bottom-width: 0 !important;
    height: variables.$m-4xl;
  }

  @media screen and (min-width: variables.$width-medium) {
    height: variables.$m-5xl;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    max-width: calc(100vw - 2rem);
    position: relative;
    width: 100%;

    @media screen and (min-width: variables.$width-small) {
      max-width: 90%;
      margin: 0 auto;
    }

    @media screen and (min-width: variables.$width-small) {
      max-width: 80%;
    }
  }

  &__item {
    background: var(--color-bg-primary);
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: variables.$m-2xl;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;

    @media screen and (min-width: variables.$width-small) {
      margin-left: variables.$m-2xl;
    }
  }

  &__items {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;
  }

  &__toggle {
    background: none;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    outline: none;
    width: 2rem;

    .js-is-darkmode & {
      fill: var(--color-text-primary);
    }

    @media screen and (min-width: variables.$width-medium) {
      width: variables.$m-2xl;
      height: variables.$m-2xl;
    }
  }

  &__link {
    color: var(--color-link-nav) !important;
    font-size: 0.9rem;
    padding: 0 variables.$m-xs;

    .js-is-darkmode & {
      color: var(--color-link-hover) !important;
    }

    @media screen and (min-width: variables.$width-x-small) {
      padding: 0 0.75rem;
    }

    @media screen and (min-width: variables.$width-small) {
      font-size: variables.$m-md;
      padding: 0 variables.$m-md;
    }

    @media screen and (min-width: variables.$width-medium) {
      font-size: 1.2rem;
      padding: 0;
    }
  }

  &__links-wrapper {
    align-items: center;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: variables.$width-small) {
      height: variables.$m-4xl;
      width: calc(100% - #{variables.$m-4xl});
    }

    @media screen and (min-width: variables.$width-medium) {
      height: variables.$m-5xl;
      width: calc(100% - #{variables.$m-5xl});
    }
  }
}

.logo {
  border: 4px solid var(--color-border-black);
  border-radius: variables.$radius-full;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 2.5rem;
  justify-content: center;
  position: relative;
  width: 2.5rem;
  z-index: 2;

  .js-is-darkmode & {
    border-color: var(--color-text-primary);
  }

  @media screen and (min-width: variables.$width-small) {
    border-width: 7px;
    height: variables.$m-4xl;
    width: variables.$m-4xl;
  }

  @media screen and (min-width: variables.$width-medium) {
    border-width: 10px;
    height: variables.$m-5xl;
    width: variables.$m-5xl;
  }

  &__title {
    font-size: variables.$m-xl;
    margin: 0;
    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width: variables.$width-small) {
      font-size: variables.$m-2xl;
    }

    @media screen and (min-width: variables.$width-medium) {
      font-size: 6rem;
    }
  }
}
