.site-nav {
  background: #fff;
  border-bottom: 1px solid #999;
  margin: 0 auto;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 3;

  .js-is-darkmode & {
    background-color: #162447;
  }

  @media screen and (min-width:$width-small) {
    box-shadow: none;
    padding: 0;
    position: relative;
  }

  @media screen and (min-width:$width-small) {
    border-bottom-width: 0;
    height: 5rem;
    padding: 3rem 0 5rem;
    position: relative;
  }

  @media screen and (min-width:$width-medium) {
    height: 10rem;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    max-width: calc(100vw - 2rem);
    position: relative;
    width: 100%;

    @media screen and (min-width:$width-small) {
      max-width: 90%;
      margin: 0 auto;
    }

    @media screen and (min-width:$width-small) {
      max-width: 80%;
    }
  }

  &__item {
    background: #fff;
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: 3rem;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;

    .js-is-darkmode & {
      background-color: #162447;
    }

    @media screen and (min-width:$width-small) {
      margin-left: 3rem;
    }
  }

  &__items {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }

  &__toggle {
    align-self: flex-end;
    background: none;
    border: 0;
    cursor: pointer;
    display: block;
    height: 3rem;
    outline: none;
    width: 2.5rem;

    .js-is-darkmode & {
      fill: #fff;
    }

    @media screen and (min-width:$width-small) {
      width: 3rem;
      height: 5rem;
    }

    @media screen and (min-width:$width-medium) {
      height: 10rem;
    }
  }

  &__link {
    color: #131099 !important;
    font-size: 1rem;
    padding: 0 0.25rem;

    .js-is-darkmode & {
      color: #f1bbd5 !important;
    }

    @media screen and (min-width:$width-x-small) {
      padding: 0 0.75rem;
    }

    @media screen and (min-width:$width-small) {
      padding: 0 1rem;
    }

    @media screen and (min-width:$width-medium) {
      font-size: 1.2rem;
      padding: 0;
    }
  }

  &__links-wrapper {
    align-items: center;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;

    @media screen and (min-width:$width-small) {
      height: 5rem;
      width: calc(100% - 5rem);
    }

    @media screen and (min-width:$width-medium) {
      height: 10rem;
      width: calc(100% - 10rem);
    }
  }
}

.logo {
  border: 5px solid #000;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  height: 3rem;
  justify-content: center;
  position: relative;
  width: 3rem;
  z-index: 2;

  .js-is-darkmode & {
    border-color: #fff;
  }

  @media screen and (min-width:$width-small) {
    border-width: 7px;
    height: 5rem;
    width: 5rem;
  }

  @media screen and (min-width:$width-medium) {
    border-width: 10px;
    height: 10rem;
    width: 10rem;
  }

  &__title {
    font-size: 2rem;
    margin: 0;
    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width:$width-small) {
      font-size: 3rem;
    }

    @media screen and (min-width:$width-medium) {
      font-size: 6rem;
    }
  }
}
