@use "variables";

.share {
  padding: 1rem 0;

  &__nav {
    border-top: 1px solid var(--color-border-default);
    padding: 0.5rem 0;
    text-align: center;

    .js-is-darkmode & {
      border-color: var(--color-border-default);
    }
  }

  &__button,
  &__link {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 0.75rem 0 0;
  }

  &__button {
    background: 0;
    border: 0;
    color: var(--color-link-primary);
    font-family: variables.$font-family-default;
    margin: 0;

    .js-is-darkmode & {
      color: var(--color-link-primary);
    }

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &__link {
    &:last-of-type {
      padding-right: 0;
    }
  }
}
