@use "variables";

.share {
  padding: 1rem 0;

  &__nav {
    border-top: 1px solid #999;
    padding: 0.5rem 0;
    text-align: center;

    .js-is-darkmode & {
      border-color: #110e5b;
    }
  }

  &__button,
  &__link {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5rem 0.75rem 0 0;
  }

  &__button {
    background: 0;
    border: 0;
    color: #0000ff;
    font-family: variables.$font-family-default;
    margin: 0;

    .js-is-darkmode & {
      color: #fbe902;
    }

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &__link {
    &:last-of-type {
      padding-right: 0;
    }
  }
}
