.figure {
	padding: $spacing-unit 0;
	position: relative;
	z-index: 1;
	picture,
	img {
		max-width: $width-default;
	}
	&--full {
		width: 100%;
	}
	&__caption {
		border: none;
		border-bottom: 1px solid $color-grey-light;
		color: black;
		margin: 0;
		max-width: none;
		padding: 0;
		position: static;
		text-align: left;
		transform: none;
		@include media-query($width-default) {
			margin-left: auto;
			margin-right: auto;
			max-width: $width-650;
			padding: $spacing-unit ($spacing-unit / 2) $spacing-unit 0;
		}
		p {
			font-family: $font-family-default;
			font-size: $font-size-default * .8;
			font-weight: bold;
		}
		&--centered {
			border: 2px solid white;
			color: white;
			font-size: 1rem;
			left: 50%;
			margin: $spacing-unit / 6;
			max-width: 300px;
			padding: $spacing-unit / 2;
			position: absolute;
			text-align: center;
			top: 50%;
			@include prefix(transform, translate(-50%, -50%), webkit ms moz);
			@include media-query($width-default) {
				margin: $spacing-unit;
				padding: $spacing-unit * 2;
			}
		}
	}
	&--aside {
		&:nth-of-type(1),
		&:nth-of-type(3) {
			@include media-query($width-default) {
				float: left;
				margin-bottom: $spacing-unit;
				margin-left: 10%;
				margin-right: $spacing-unit * 2;
				margin-top: $spacing-unit * 2;
				max-width: 30%;
			}
		}
		&:nth-of-type(2),
		&:nth-of-type(4) {
			@include media-query($width-default) {
				float: right;
				margin-bottom: $spacing-unit;
				margin-right: 10%;
				margin-left: $spacing-unit * 2;
				margin-top: $spacing-unit * 2;
				max-width: 30%;
			}
		}
	}
}