.figure-featured {
  border-top: 1px dashed $color-grey-light;
  clear: left;
  @include media-query($width-default) {
    display: table;
  }
  &__picture {
    display: block;
    padding: $spacing-unit * 5;
    @include media-query($width-default) {
      display: table-cell;
      padding: ($spacing-unit * 2) ($spacing-unit * 10);
    }
  }
  &__caption {
    color: black;
    position: relative;
    @include media-query($width-default) {
      display: table-cell;
      width: 50%;
    }
  }
  .text--centered {
    padding: $spacing-unit;
    @include media-query($width-default) {
      border-left: 1px solid $color-grey-light;
      left: 50%;
      padding: $spacing-unit * 2;
      position: absolute;
      top: 50%;
      @include prefix(transform, translate(-50%, -50%), webkit ms moz);
    }
  }
  p:first-of-type {
    font-family: $font-family-serif;
    @include media-query($width-default) {
      font-size: $spacing-unit * 1.4;
    }
  }
}